
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 5px solid #888;
	margin: -5px;	/* Set this to minus the border thickness. */
	/* background-color:#fff; */
	cursor: crosshair;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:0px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border: 1px solid #f4f7f7;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}

.cloud-zoom-wrap {
	position: relative;width: 100% !important;margin: 0 auto;
}
.cloud-zoom-big {
	left: 0 !important;
}
ul.thumbnails .image-main {
	width: 100%;
    float: none;
    margin: 0 auto;
}
@media (max-width:468px) {
.cloud-zoom-wrap {
    width: 100% !important;
}
ul.thumbnails .image-main {
    width: 100%;
}
}
