#jcl-demo .carousel{float:left;position:relative;left:0;padding-top:20px;padding-bottom:20px;margin-bottom:10px;width:147px;height:465px;}
#jcl-demo li{width:135px !important;}
#jcl-demo li a img{width:100% !important;}
#jcl-demo .carousel>ul>li>img{width:150px;height:118px;vertical-align:middle;margin:10px 10px 10px 0;border-radius:5px;}
#jcl-demo .carousel>ul>li>p{width:130px;height:98px;margin:10px 10px 10px 0;border:1px solid #808080;border-radius:5px;line-height:normal;background-color:#fff;padding:10px;}
.custom-container.vertical{width:147px;}
#jcl-demo a.prev, #jcl-demo a.next, #jcl-demo a.go{display:block;line-height:1;color:#000;text-decoration:none;font-family:Arial, sans-serif;font-size:25px;float:left;padding:2px;box-shadow:none;background-color:transparent;}
#jcl-demo .fa-chevron-down, #jcl-demo .fa-chevron-up{padding:8px;background-color:rgba(255,255,255, 0.9);}
#jcl-demo a.prev.disabled, #jcl-demo a.next.disabled,
#jcl-demo a.prev.disabled:hover, #jcl-demo a.next.disabled:hover{background-color:#8d8d8d;cursor:default;}
#jcl-demo a.go.highlight{background-color:#dedede;color:#000;}
#jcl-demo a.prev{position:absolute;bottom:9px;left:38%;height:auto;opacity:0;transition:0.3s;}
#jcl-demo a.next{position:absolute;top:20px;left:38%;opacity:0;transition:0.3s;height:auto;bottom:auto;}
#jcl-demo a.next i, #jcl-demo a.prev i{font-size:25px;}
#jcl-demo:hover a.next, #jcl-demo:hover a.prev{opacity:1;transition:0.3s;}
#jcl-demo .externalControl button,
#jcl-demo .imageSliderExt button{margin:5px 5px 0 0;}
#jcl-demo .externalControl a.next, #jcl-demo .externalControl a.prev, #jcl-demo .externalControl a.go,
#jcl-demo .imageSliderExt a.next, #jcl-demo .imageSliderExt a.prev, #jcl-demo .imageSliderExt a.go{margin:0 5px 0 0;padding:7px 5px 0 5px;font-size:15px;text-align:center;border-radius:3px;}
#jcl-demo .widget img{cursor:pointer;}
#jcl-demo .mid{margin-left:50px;width:400px;height:300px;}
#jcl-demo .imageSlider .carousel>ul>li>img,
#jcl-demo .imageSliderExt .carousel>ul>li>img{width:400px;height:300px;}
#jcl-demo .imageSlider .carousel>ul>li>p,
#jcl-demo .imageSliderExt .carousel>ul>li>p{width:380px;height:280px;}
.clear{clear:both;}