a { cursor: pointer; }	
table.table.table-striped.table-bordered.table-hover td {
    vertical-align: top;
	border-bottom: 5px solid #ddd;
	}
	input[type='text'], input[type='password'] {
	border: 1px solid #bbb;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin: 3px;
	}
	input[type='text']:focus, input[type='password']:focus {
	-webkit-box-shadow: 0px 0px 3px #07f;
	-moz-box-shadow: 0px 0px 3px #07f;
	box-shadow: 0px 0px 3px #07f;
	}
	select { 
    border: 2px solid #DDDDDD;
    padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
    }
	h3.superh3 {margin-top: 5px; margin-bottom: 5px; border-bottom: 1px solid #ddd; padding-bottom: 3px; color: #6C6964;}
	h3.addsuperh3 {margin-top: 5px; margin-bottom: 5px; border-bottom: 1px solid #ddd; padding-bottom: 3px; color: #6C6964; cursor: pointer; margin-right: 70px;}
	.typediv, .addtypediv { margin-right: 70px; }
    
	.nav.nav-tabs {
	border:none !important;
	height: 60px;
	background: #ECECEC;
	padding: 6px;
	}
	.viewsel {
	padding: 5px; 
	background: #ddd;
	border-radius: 3px;
	width: 189px;
	margin-top: 8px;
	}
	.viewsel select { width: 120px; }
	.nav.nav-tabs li a {
    	border: 3px solid #00a3d9;
		background: #00a3d9;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;
		padding: 12px;
		color: #fff;
		transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
    }	
	.nav.nav-tabs li.active a { 
     background: #93BA74;
	 color: #fff;
     padding-bottom: 8px;
	 border: 3px solid #93BA74;
	 padding: 12px;
     }
	 
	table.sets td {
	 padding-top: 5px;
	 padding-bottom: 5px;
	 border-bottom: 2px solid #ddd;
	}
	.table-responsive {
	overflow: visible;
	}
	.advs {
	  overflow: visible;
	  width: 100%;
	  height: 58px;
	  position: relative;
	  text-align: center;
	  padding-top: 10px;
	}
	.advs a {
	  text-decoration: none !important;
	  font-weight: bold;
	  color: #007FFF;
	}
	.advs a.expand {
	  padding: 10px;
	  background-color: #00a3d9;
	  border: 1px solid #fff;
	  border-radius: 0px;
	  box-shadow: 0px 0px 2px #00a3d9;
	  display: block;
	  color: #fff;
	}
	.advs a.closeadvm {
	  float: right;
	  margin-top: -20px;
	}
	.advs .advh {
	  position: absolute;
	  z-index: 99;
	  display: none;
	  width: 700px;
	  background: #fff;
	  border: 3px solid #eee;
	  padding: 20px;
	  text-align: left;
	  right: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 30px #999;
	-moz-box-shadow: 0px 0px 30px #999;
	box-shadow: 0px 0px 30px #999;
	}
	table.smenua {
	  width: 100%;
	  background: none;
	  border-collapse: collapse;
	}
	table.smenua td {
	  background: #fff !important;
	  padding: 2px;
	  border: 1px solid #ddd;
	  }
	  .addtypediv { display: none; }
 	a.button, .list a.button {
    background: #4094D8;
	color: #fff;
	padding: 6px;
	font-weight: bold;
	border: 1px solid #4FB0FA;
	border-right: 1px solid #3E83B7;
	border-bottom: 1px solid #3E83B7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	}
	a.button:hover, .list a.button:hover {
	background: #333;
	border: 1px solid #444;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	}
    .sorder {
	    position: absolute;
		right: 0px;
		top: 0px;
		width: 50px;
		color: #fff;
		background: #a7a7a7;
		padding: 5px;
		box-radius: 5px;
		box-shadow: 0px 0px 2px #333;
		text-align: center;
		font-weight: bold;
	  }
	  .sorder input { font-size: 15px; color: #333; font-weight: bold; text-align: center; width: 30px; height: 25px; }
	  select.item-type { width: 200px; }
	  .settings-row { 
	    display: block;
        padding: 5px;
        border-bottom: 1px solid #ddd;
	  }
	  .image { display: block; }
.active_menu { 
	padding: 8px;
	background: #fff;
	border-bottom: 2px solid #fff;
	font-size: 14px;
	color: #000;
}
.active_menu strong { color: #93BA74; font-size: 20px; }
.active_menu a.button { background: #93BA74; border: 1px solid #93BA74; }
.active_menu a.button.fordelete {
	background: #EA7D7D; 
	border: 1px solid #EA7D7D;
}
.allmenus, .allmenus * { color: #000; }
#item thead td { background: #eee; }
h2 { border-bottom: 1px dotted #ddd; padding-bottom: 5px; font-size: 19px; margin-top: 10px; color: #E23C3C; }