#product-slider {
	margin: 0 -30px;
}
.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1920px;
	height: 790px;
	margin: 0 auto 10px;
	clear: both;
}
.ei-slider ul{
	padding: 0;
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.2);
	color: #fff;
	text-align: center;
	line-height: 300px;
	display: none;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
	margin:0;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	list-style: none;
}
.ei-slider-large li img{
	width:auto!important;
	height:auto!important;
	position:absolute;
	margin-top:0px!important;
	padding: 0 10px;
	border-radius:0px;
	background-color: transparent;
}
.ei-title{
	position: absolute;
	left: 45%;
	margin-left: 0;
	margin-right: 10%;	
	top: 8%;
	text-align: left;
}
#content .ei-title h2:before {
    width: 70px;
	border-bottom: none;
}
.ei-title h2, .ei-title h3, .ei-title h4{
	text-align: center;
}
#content .ei-title h2:before {
  margin-left: 0;
  margin-right: 0;
}
.ei-title h2{
	margin-top: 40px;
    margin-bottom: 0;
	padding-bottom: 0!important;
}
.ei-title h2 a{
	font-size: 58px;
	line-height: 58px;	
}
.ei-title h3{
	margin-top: 30px!important;
	margin-bottom: 35px!important;
	line-height: 25px!important;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 1px;
}
.ei-title h3 a{
	font-size: 17px;
	line-height: 17px!important;
}
.ei-title h4{
    margin-top: 45px;
    text-decoration: none;
}
.ei-title h4 a, .ei-title h4 a .price-new {
	font-size: 42px;
	line-height: 24px;
	text-transform: uppercase;
}
.ei-title h4 a.btn {
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
	margin-top: 5px;
}
.ei-slider-thumbs{
	height: 10px;
	margin: 0 auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
	list-style:none;
	padding-right: 1px;
}
.ei-slider-thumbs li:last-child{
	padding-right: 0;
}
.ei-slider-thumbs li.ei-slider-element{
	bottom: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 2;
	text-indent: -9000px;
}

.ei-slider-thumbs li a{
	/* display: block; */
	/* text-indent: -9000px; */
	font-weight:bold;
	width: 100%;
	height: 100%;
	line-height:46px;
	text-align:center;
	cursor: pointer;
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 10px;
	opacity: 1;
	z-index: 2;
	max-width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1) 0s;
	/* -webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
	border: none;
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 25px;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


@media screen and (max-width: 768px) {
.ei-slider {
	height: 640px;
}
.ei-title {
    left: 30px;
	margin-right: 30px;
}
.ei-title h2 a{
	font-size: 48px;
	line-height: 48px;	
}
.ei-slider-large li img{
	left: 0;
	right: 0;
	margin: 0 auto !important;
	opacity: 0.1;
}
}
@media (min-width: 991px) and (max-width: 1200px) {
.ei-slider-large li img{
	left:5%;
}
}
@media (min-width: 1200px) and (max-width: 1440px) {
.ei-slider-large li img{
	left:8%;
}
}
@media (min-width: 1440px) {
.ei-slider-large li img{
	left:12%;
}
}
