/*  Body background color and pattern  */
body {
	background-color: #2C2E35;
	background-image: url("catalog/view/theme/sellmore/image/patterns/p30.png");
	background-position: top center;
	background-repeat: repeat;
	background-attachment: fixed;
}

/*  Headings color  */
h1, h2, h3, h4, h5, h6, .panel-default > .panel-heading, .product-thumb h4 a, #column-left .product-thumb h4 a, #column-right .product-thumb h4 a, .table > thead, .nav-tabs > li > a, legend, #search .form-control, .product-right-sm-info span.p-title, .product-right-sm-related .name a, #tab-review strong, #content .filters a.list-group-item, #content .product-right-sm-related.panel-default > .panel-heading {color: #FFFFFF;}
#content h1, #content h2 {padding-bottom: 0;}
#content .panel-inline-title h2 {padding-bottom: 20px;}

/*  Body text color  */
body, #content .tab-content p, #content .product-right-sm-info .modal-body p, .product-buy ul.pf span, #content .product-buy p, .form-control, span.badge.out-of-stock, #content .flybar-top p.description, #tab-specification .table > tbody > tr > td + td {color: #FFFFFF;}

/*  Light text color  */
small, .subtitle, .breadcrumb a, .breadcrumb > li + li:before, .cat-description, .cat-description-above-content, .product-thumb .product_box_brand a, .product-buy ul.pf li, .product-buy ul.pp, .prev-name, .next-name, .product-right-sm-info span.p-subtitle, .product-right-sm-related .product_box_brand a, .category-slider-items .subcat a, #content .product-right-sm-info .modal-body h1 + p, #features .modal-body h1 + p, .cookie-message, .alert-success, .alert-info, .dropdown-highlight, .sitemap > ul > li > ul > li > ul > li > a, .pagination-box .col-sm-6.text-right, .category-slider-item .subcat li.all a, .rating-date, #content .tltblog .row .col-sm-9 h4 + div p, #content h3 + .row .col-sm-6.col-xs-12 .product-thumb .caption h4 + p {color: #A9ACB0;}

/*  Links color  */
a, a:focus, .list-group a {color: #FFFFFF;}

/*  Links hover color  */
a:hover, .breadcrumb a:hover, .dropdown-highlight:hover, .dropdown-highlight:focus, .category-slider-items .subcat li:hover a, .table .btn, .table .btn-primary, .table .btn-primary:hover, .table .btn-primary:focus, .list-group a.active, .list-group a.active:hover, .list-group a:hover, .category-list .image:hover, .save-percent, .category-slider-item .subcat li.all a:hover {color: #EDDFB2;}

/*  Icons color  */
#menu_brands .image i, .brand-slider-items .image i, #search .input-group-addon .btn, .accordion li.dcjq-parent-li > a + .dcjq-icon, .panel-category-dropdown li a i {color: #FFFFFF;}

/*  Icons hover color  */
#search .input-group-addon .btn:hover, .theme-modal .modal-body .close, .alert-success i, .alert-success .close, .alert-info i, .alert-info .close, .accordion li.dcjq-parent-li > a + .dcjq-icon:hover, .theme-modal-popup .modal-body .close {color: #EDDFB2;}
.mfp-close {color: #EDDFB2!important;}
#toTop:hover, .product-buy ul.pf span.stock, #bar {background-color: #EDDFB2!important;}

/*  Wrapper  */
.wrapper.full-width-border {border: 50px solid transparent;}
.wrapper.framed {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
.wrapper.boxed #column-left .panel, .wrapper.boxed #column-right .panel, .wrapper.boxed #content {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}

/*  Content Column  */
#content, #content .panel, .category-list + .panel-default > .panel-heading, #search .form-control, #search .input-group-addon, #search .input-group-addon .btn, #livesearch_search_results, .modal-content, .alert-success, .alert-info, .cookie-message, .custom_box, .panel-inline-items, .theme-lookbook-bg, .theme-banner-bg, .theme-gallery-bg, .theme-store-tv-bg, .highly-recommended-module-content, #tab-review .rating-text {
	background-color: #23252B;
}
.tab-content .table-bordered, .tab-content .table-bordered > thead > tr > th, .tab-content .table-bordered > tbody > tr > th, .tab-content .table-bordered > tfoot > tr > th, .tab-content .table-bordered > thead > tr > td, .tab-content .table-bordered > tbody > tr > td, .tab-content .table-bordered > tfoot > tr > td {
	border-color: #23252B;
}
.well, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .table-bordered img {
	border: 1px solid #23252B;
	background-color: #2C2E35;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .sitemap > ul > li > a, .manufacturer-list h3, .search-panel, .product-page #product-tabs .tab-content, .contact-details-wrapper {
	background-color: #2C2E35;
}

#livesearch_search_results li, .modal-footer, .list-group a, .list-group a.active, .list-group a.active:hover, .list-group a:hover, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-top: 1px solid #2C2E35;	
}	
.modal-header {
    border-bottom: 1px solid #2C2E35;	
}
.contact-map, .img-thumbnail-theme {
    border: 1px solid #2C2E35;	
}
hr, #search .input-group-addon {
	border-color: #2C2E35;
}

/*  Left-Right Column Boxes  */
#column-left .panel, #column-right .panel {
	margin-bottom: 0px;
}

/*  Left Column Box  */
#column-left .panel-default > .panel-heading {
	background-color: #292B31;
}
#column-left .panel, #column-left .owl-carousel {
	background-color: #292B31;
}
#column-left .panel-default > .panel-heading, #column-left .panel-default > .panel-heading h2, .dr-menu > div .dr-icon i {color: #FFFFFF;}
#column-left a {color: #FFFFFF;}
#column-left a:hover {color: #EDDFB2;}
#column-left {color: #FFFFFF;}
#column-left .panel, #column-left .owl-carousel.carousel-module, #column-left .owl-carousel.banner-module {
	border-bottom: 1px solid #23252B!important;
}

/*  Right Column Box  */
#column-right .panel-default > .panel-heading {
	background-color: #23252B;
}
#column-right .panel, #column-right .owl-carousel {
	background-color: #23252B;
}
#column-right .panel-default > .panel-heading, #column-right .panel-default > .panel-heading h2, #column-right .dr-menu > div .dr-icon i {color: #FFFFFF;}
#column-right a {color: #FFFFFF;}
#column-right a:hover {color: #EDDFB2;}
#column-right {color: #FFFFFF;}
#column-right .panel, #column-right .owl-carousel.carousel-module, #column-right .owl-carousel.banner-module {border-bottom: 1px solid #23252B!important;}

/*  Category Box   */
#column-left .panel-default.panel-category > .panel-heading, #column-right .panel-default.panel-category > .panel-heading {
	background-color: #292B31;
}
#column-left .panel-default.panel-category, #column-right .panel-default.panel-category {
		background-color: #292B31;
		    border-bottom: 1px solid #23252B!important;
	}
#column-left .panel-default.panel-category > .panel-heading h2, #column-right .panel-default.panel-category > .panel-heading h2 {
    color: #FFFFFF;
}
#column-left .panel-default.panel-category a, #column-right .panel-default.panel-category a {color: #FFFFFF;}
#column-left .panel-default.panel-category a:hover, #column-right .panel-default.panel-category a:hover, #column-left .panel-default.panel-category .cat-mod-child a:hover, #column-right .panel-default.panel-category .cat-mod-child a:hover, #column-left .panel-default.panel-category a.list-group-item.active, #column-right .panel-default.panel-category a.list-group-item.active {color: #EDDFB2;}
#column-left .panel-default.panel-category .cat-mod-child a, #column-right .panel-default.panel-category .cat-mod-child a, #column-left .accordion li ul li a.list-group-item {color: #A9ACB0;}

/*  Filter Box Content  */
#column-left .panel-default.filters > .panel-heading, #column-right .panel-default.filters > .panel-heading {
	background-color: #292B31;
}
#column-left .panel-default.filters, #column-right .panel-default.filters, #content .panel-default.filters {
		background-color: #292B31;
		    border-bottom: 1px solid #23252B!important;
	}
#column-left .panel-default.filters > .panel-heading h2, #column-right .panel-default.filters > .panel-heading h2 {
    color: #FFFFFF;
}
#column-left .panel-default.filters a, #column-right .panel-default.filters a, #content .panel-default.filters a {color: #FFFFFF;}
#column-left .panel-default.filters label, #column-right .panel-default.filters label, #content .panel-default.filters label {color: #FFFFFF;}
#column-left .panel-default.filters label:hover, #column-right .panel-default.filters label:hover, #content .panel-default.filters label:hover {color: #EDDFB2;}
#content .panel-default.filters {
	border-bottom: 1px solid #23252B;
}


/*  Header 5  */
header.header-style-5 #logo {background-color: #2F3138;}


/*  HEADER  */

header {
	background-color: #23252B;
	background-image: url("image/catalog/header_bg_luxury_1.jpg"); ?>;
	background-position: top center;
	background-repeat: repeat;
	background-attachment: scroll;
}
.is-sticky #menu {
	background-color: #23252B;
}
.button-i {color: #FFFFFF;}
.buttons-header:hover .button-i, #cart.buttons-header .button-i, #search.header-search-bar button.btn:hover i {color: #FFFFFF;}
.buttons-header, #cart #cart-tt #cart-total, #search.header-search-bar .input-lg {
	background-color: #2F3138; 
}
#cart.buttons-header #cart-tt i, .product-right-sm-info span.p-icon i {
	color: #2F3138; 
}
.buttons-header, #search.header-search-bar .input-lg {border-radius: 50px;}
#search.header-search-bar .form-control::-moz-placeholder {color: #A9ACB0;}
#search.header-search-bar .form-control {color: #23252B;}
#cart.buttons-header, .product-right-sm-info span.p-icon {background-color: #FFFFFF;}

/*  Top News */
#top-news-wrapper  {background-color: #363636;}
#top-news-content li a  {color: #363636;}
#top-news-content i {color: #FFFFFF;}
#top-news-content span#top-news {color: #FFFFFF; background-color: #DA2042;}
#top-news-content #news a {color: #FFFFFF;}
#top-news-content #news a:hover {color: #FFFFFF;}

/*  Top Bar  */
#top, .top-links li {
	color: #FFFFFF;
}
#top a, #top .btn-link, .top-links a, .top-links .fa-angle-down {
	color: #FFFFFF;
}
#top a:hover, #top .btn-link:hover, #top .btn-link:hover i, .top-links a:hover, .top-links a:hover i {
	color: #EDDFB2;
}
.top-links i {
	color: #FFFFFF;
} 
#top {
	border-bottom: 1px solid #292C33;
}


/*  MAIN MENU */

/*  Main Menu Bar  */
#menu {
	
    border-top: 1px solid #292C33;	
	background-image: none;
	background-repeat: repeat;
}
#menu {
    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.15);
}
#menu .fa-sort-down {
	display: none;
}

/*  Home Page Link  */
 
#menu #homepage a {
	color: #EDDFB2;
}	
#menu #homepage:hover a {
	color: #EDDFB2;
}

/*  Categories  */
 
.menu_oc > a, #menu_ver > a, #menu_ver_2 > a, #menu_hor > a, #menu_inline > a {
	color: #FFFFFF;
}	
.menu_oc:hover > a, #menu_ver:hover > a, #menu_ver_2:hover > a, #menu_hor:hover > a, #menu_inline:hover > a {
	color: #EDDFB2;
}
.common-home #menu #menu_ver_2 > a + .dropdown-menus {opacity: 1; visibility: visible;}
.common-home .is-sticky #menu #menu_ver_2 > a + .dropdown-menus {opacity: 0; visibility: hidden;}

/*  Brands  */
 
#menu_brands > a {
	color: #FFFFFF;
}	
#menu_brands:hover > a {
	color: #EDDFB2;
}

/*  Custom Blocks  */
 
.menu_custom_block > a {
	color: #FFFFFF;
}	
.menu_custom_block:hover > a {
	color: #EDDFB2;
}

/*  Custom Dropdown Menus  */
 
#menu_custom_menu > a {
	color: #FFFFFF;
}	
#menu_custom_menu:hover > a {
	color: #EDDFB2;
}

/*  Custom Links  */
 
.menu_links a {
	color: #FFFFFF;
}	
.menu_links:hover a {
	color: #EDDFB2;
}

/*  Sub-Menu  */
#menu .dropdown-menu, #menu .dropdown-menus {
	background-color: #9FA3A7;
	color: #FFFFFF;
}
#menu .dropdown-highlight {
	background-color: #F5F5F5;
}
#menu .dropdown-menus a, #menu_brands .brand-item .name {
	color: #FFFFFF;
}	
#menu .dropdown-menus a:hover, #menu .dropdown-menus li a:hover, #menu #menu_hor .dropdown-menus li.sub-cat:hover > a, #menu #menu_hor .dropdown-menus li.main-cat > a:hover, #menu_brands .brand-item:hover .name, #menu #menu_inline .dropdown-menus li .dropdown-menus a:hover, #menu #menu_ver .dropdown-menus .dropdown-menus a:hover, #menu #menu_ver_2 .dropdown-menus .dropdown-menus a:hover, #menu .menu_oc .dropdown-menus .dropdown-menus a:hover {
	color: #EDDFB2;
}
#menu #menu_hor .dropdown-menus li.sub-cat > a, #menu #menu_inline .dropdown-menus li .dropdown-menus a, #menu #menu_ver .dropdown-menus .dropdown-menus a, #menu #menu_ver_2 .dropdown-menus .dropdown-menus a, #menu .menu_oc .dropdown-menus .dropdown-menus a {
	color: #FFFFFF;
}
#menu .dropdown-menu, #menu .dropdown-menus {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}
.navbar {text-align: center;}


#menu #menu_hor .dropdown-menus li.main-cat > a {
	border-bottom: 3px solid #EDDFB2;
}
#menu #menu_hor .dropdown-menus ul ul {
	margin-top: 8px;
}
#menu #menu_hor .dropdown-menus li.sub-cat > a {
	border-bottom: 1px solid #F5F5F5;
	padding: 3px 0;
}

/*  Product Box  */
span.badge.sale {background-color: #2F3138;}
span.badge.new {background-color: #2F3138;}
span.badge.out-of-stock {background-color: #23252B;}
.rating .fa-y .fa-star {color: #EDDFB2;}

/*  FOOTER  */
footer {
	background-image: none;
	background-position: top center;
	background-repeat: repeat;
}

/*  Top Custom Block 1  */
#footer_custom_top_1 {
	color: #FFFFFF;
	background-color: #23252B;
	background-image: none;
	background-position: top center;
	background-repeat: repeat;
	border-top: 1px solid #292C33;
}
#footer_custom_top_1 a {color: #FFFFFF;}
#footer_custom_top_1 a:hover {color: #EDDFB2;}

/*  Information, Custom Column  */
#information {
	color: #FFFFFF;
	background-color: #23252B;
	background-image: none;
	background-position: top center;
	background-repeat: repeat;
	border-top: 1px solid #292C33;
}
#information h5, #information span {color: #FFFFFF;}
#information a {color: #FFFFFF;}
#information a:hover, #information span.hotline {color: #EDDFB2;}

/*  Powered by, Payment Images, Follow Us  */
#powered {
	color: #FFFFFF;
	background-color: #23252B;
	background-image: none;
	background-position: top center;
	background-repeat: repeat;
}
#powered a {color: #FFFFFF;}
#powered a:hover, #powered i:hover {color: #EDDFB2;}
#footer-social li {background-color: #292C33;}

/*  Bottom Custom Block 1  */
#footer_custom_1 {
	color: #FFFFFF;
	background-color: #23252B;
	background-image: none;
	background-position: top center;
	background-repeat: repeat;
}
#footer_custom_1 a {color: #FFFFFF;}
#footer_custom_1 a:hover {color: #EDDFB2;}

/*  Bottom Custom Block 2  */
#footer_custom_2 {
	color: #FFFFFF;
	background-color: #23252B;
	background-image: url("image/catalog/banner/footer_slider_1.jpg"); ?>;
	background-position: top right;
	background-repeat: repeat;
}
#footer_custom_2 a {color: #FFFFFF;}
#footer_custom_2 a:hover {color: #EDDFB2;}


/*  Prices */
#content .product-thumb p.price, #cart span.price, #column-left .product-items .price, #column-right .product-items .price, .product-buy .price-reg, #content .product-right-sm-related p.price, .product-buy .price-old {color: #A9ACB0;}
.price-old, .product-thumb .price-tax {color: #A9ACB0;}
.price-new {color: #EDDFB2;}

/*  Buttons */
.btn-default, button.wishlist, button.compare, .pagination > li > a, .pagination > li > span, #cart .btn-default, input#input-quantity, input.dec, input.inc, .owl-carousel .owl-buttons div, .theme-gallery-content .gallery-hover-box, .theme-store-tv-content .store-tv-hover-box, .btn.theme-banner-title.no-link:hover, #footer_custom_top_1 a.btn-default, footer_custom_1 a.btn-default, #information a.btn-default, #footer_custom_2 a.btn-default, #menu .dropdown-menus a.btn-default.menu-button {
	 
	background-color: #2F3138;
		color: #FFFFFF;
	border: 2px solid #2F3138;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.095);
	}
.btn-default:hover, #column-left .btn-default:hover, #column-right .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled], button.wishlist:hover, button.compare:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > a:active, .pagination > li > span:hover, #cart .btn-default:hover, input.dec:hover, input.inc:hover, .panel-inline-content .brand-slider-item:hover .btn-default, .panel-inline-content .category-slider-item:hover .btn-default, .category-list .image:hover .btn-default, .owl-carousel .owl-buttons div:hover, .theme-lookbook-item:hover .theme-lookbook-item-title, .theme-banner-item:hover .theme-banner-title, #footer_custom_top_1 a.btn-default:hover, footer_custom_1 a.btn-default:hover, #information a.btn-default:hover, #cart .checkout a.btn-default, .contact-block + .dropdown-menu li div.contact-links a.btn-default, #footer_custom_2 a.btn-default:hover, .product-right-sm-logo a.see-all, .buttons .buttons-cart a.btn-default, #menu .dropdown-menus a.btn-default.menu-button:hover {
	background-color: #444950;
    color: #FFFFFF;
	border: 2px solid #444950;	
}
.theme-gallery-content .gallery-hover-box i, .theme-store-tv-content .store-tv-hover-box i {
	color: #FFFFFF;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, select:focus, .form-control:focus, .form-control {
	background-color: #2F3138;
	color: #FFFFFF;
	border: 1px solid #2F3138;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.095);
	}


.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, #cart .btn-primary, #footer_custom_top_1 a.btn-primary, footer_custom_1 a.btn-primary, #information a.btn-primary, .contact-block + .dropdown-menu li div.contact-links a.btn-primary, .compare-page .table .btn-primary, #footer_custom_2 a.btn-primary, .brand-slider-item:hover .btn-default.inline-name, #menu .dropdown-menus a.btn-primary.menu-button {
	 
	background-color: #EDDFB2;
		color: #23252B;
	border: 2px solid #EDDFB2;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.095);
	}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
	 
	background-color: #EDDFB2;
		color: #23252B;
}
.ei-title h4 a.btn {
	color: #23252B!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], #cart .btn-primary:hover, #footer_custom_top_1 a.btn-primary:hover, footer_custom_1 a.btn-primary:hover, #information a.btn-primary:hover, .contact-block + .dropdown-menu li div.contact-links a.btn-primary:hover, .compare-page .table .btn-primary:hover, #footer_custom_2 a.btn-primary:hover, .brand-slider-item .btn-default.inline-name, #menu .dropdown-menus a.btn-primary.menu-button:hover {
	background-color: #FFFFFF;
    color: #23252B;
	border: 2px solid #FFFFFF;	
}
.btn, .theme-modal-popup .modal-body .close, #product-tabs .nav-tabs li a, #footer-social li, #footer-social li a, .product-right-sm-info span.p-icon {
	border-radius: 0px!important;
}
.buttons-header, #features span.f-icon {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.095);
}

/*  Dropdowns  */
.dropdown-menu, .dropdown-menus, .my-account-dropdown-menu li, #cart .dropdown-menu, #menu-mobile, .prev, .next {background-color: #2F3138;}
#cart span.name a, #cart span.quantity, .sidebar-nav > .sidebar-title, .sidebar-nav h5, #cart .dropdown-menu li div.cart-title .cart-total, #cart .table.cart-total span, .contact-block + .dropdown-menu li div.contact-title, .contact-block + .dropdown-menu li div.contact-details span, .information-block + .dropdown-menu li div.information-title, .information-block + .dropdown-menu li div.information-details span, .sidebar-nav li.category-mobile a {color: #FFFFFF;}
#cart .table.cart-total > tbody > tr > td, .dropdown-menu .datepicker, .prev-name, .next-name, .contact-block + .dropdown-menu li div.contact-details, .sidebar-nav li a {color: #FFFFFF;}
#cart .table.cart-total > tbody > tr > td:first-child, #cart .dropdown-menu li p, #cart .dropdown-menu li div.cart-title i, #cart .dropdown-menu small, #cart span.price, #cart button.item-remove, .contact-block + .dropdown-menu li div.contact-title i, .information-block + .dropdown-menu li div.information-title i, .sidebar-nav li.dcjq-parent-li ul li a, .contact-block + .dropdown-menu li div.contact-details .comment, .information-block + .dropdown-menu li div.information-details a, .prev-arrow a, .next-arrow a {color: #A9ACB0;}
.dropdown-menu a, #top .dropdown-menu a, #top .dropdown-menu .btn-link, .bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {color: #A9ACB0;}
.dropdown-menu a:hover, #top .dropdown-menu a:hover, .my-account-dropdown-menu li.logout a:hover, #top .dropdown-menu li:hover .btn-link, .information-block + .dropdown-menu li div.information-details a:hover, .prev-name:hover, .next-name:hover {color: #EDDFB2;}
.top-links .my-account-dropdown-menu i {color: #A9ACB0;}
.top-links .my-account-dropdown-menu li a:hover i, #cart button.item-remove:hover, #contact-toggle-close span, #menu-mobile-toggle-close span, #highly-recommended-module-close span, .sidebar-nav li.home-mobile a, .sidebar-nav li a:hover, .sidebar-nav li.dcjq-parent-li ul li a:hover, #cart .dropdown-menu li div.cart-title .cart-total span {color: #FFFFFF;}
.sidebar-nav > .sidebar-title, .my-account-dropdown-menu li.logout, #cart .checkout, #cart .cart-title, .contact-block + .dropdown-menu li div.contact-title, .contact-block + .dropdown-menu li div.contact-links, .information-block + .dropdown-menu li div.information-title, .prev-name, .next-name {background-color: #363840;}
.my-account-dropdown-menu li {border-bottom: 1px solid #363840;}
.my-account-dropdown-menu li:nth-child(2n) {border-left: 1px solid #363840;}
.dropdown-menu, .dropdown-menus, .modal-body #search, #livesearch_search_results, .modal-content {
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}
.prev, .next, .panel-category-dropdown .dropdown-menus {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*  Modal  */
.theme-modal .modal-content, .fancybox-overlay, .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.95);
}

/*  Fonts  */

/*  Body  */
body, button, select, .form-control, .menu_label { 
    font-family: Merriweather,Arial,Helvetica,sans-serif;
}
body, button, select, .form-control, #cart .table > tbody > tr > td, #menu .dropdown-menus, .category-slider-items .subcat a, .panel-category-dropdown .dropdown-menus a, .panel-inline-items .inline-name, .btn.theme-banner-title, .btn.theme-lookbook-item-title, .information-block + .dropdown-menu li div.information-details ul li a { 
	font-size: 12px;
}

/*  Small Text  */
small, .small, label, #top-news-content, #top, #top #form-currency .currency-select, #top #form-language .language-select, #top .btn-group > .btn, .buttons-header, #cart > .btn, .btn-group > .dropdown-menu, .dropdown-menu, .dropdown-menus, #menu .dropdown-menus a.see-all, .breadcrumb a, .category-list > div, .product-thumb .product_box_brand a, .header-custom-box .header-custom-subtitle { 
	font-size: 12px;
}

/*  Headings and Product Name  */
h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .header-custom-title, legend, .sidebar-nav > .sidebar-title, .information-block + .dropdown-menu li div.information-title, .information-block + .dropdown-menu li div.information-details span, .contact-block + .dropdown-menu li div.contact-title, .contact-block + .dropdown-menu li div.contact-details span, #cart .dropdown-menu li div.cart-title, #cart span.name a, #cart span.quantity, #cart .table.cart-total > tbody > tr > td, .sidebar-nav li a, #tab-specification strong, #tab-review strong, #open-top-custom-block, .alert, .filters a.list-group-item, #cart #cart-tt #cart-total { 
    font-weight: normal; 
}
h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .header-custom-title, legend, .sidebar-nav > .sidebar-title, #menu #menu_hor .dropdown-menus li.main-cat > a, .information-block + .dropdown-menu li div.information-title, .information-block + .dropdown-menu li div.information-details span, .contact-block + .dropdown-menu li div.contact-title, .contact-block + .dropdown-menu li div.contact-details span, #cart .dropdown-menu li div.cart-title, #cart span.name a, #cart span.quantity, #cart .table.cart-total > tbody > tr > td, .sidebar-nav li a, #tab-specification strong, #tab-review strong, #open-top-custom-block, .alert, .filters a.list-group-item, #cart #cart-tt #cart-total { 
    font-family: Merriweather,Arial,Helvetica,sans-serif; 
}
h1, h2, h3, h4, h5, h6, .panel-heading, .product-right-sm-info span.p-title, #features .f-title, .header-custom-title, legend, .sidebar-nav > .sidebar-title, #menu #menu_hor .dropdown-menus li.main-cat > a, .information-block + .dropdown-menu li div.information-title, .information-block + .dropdown-menu li div.information-details span, .contact-block + .dropdown-menu li div.contact-title, .contact-block + .dropdown-menu li div.contact-details span, #cart .dropdown-menu li div.cart-title, #cart span.name a, #cart .table.cart-total > tbody > tr > td, .sidebar-nav li a, #tab-specification strong, #tab-review strong, #open-top-custom-block, .alert, .filters a.list-group-item  { 
    text-transform: none;
}

/*  Subtitle  */
.subtitle, #content .tltblog .row .col-sm-9 h4 + div p { 
    font-family: Merriweather,Arial,Helvetica,sans-serif; 
}
.subtitle, #content .tltblog .row .col-sm-9 h4 + div p {
    font-size: 12px;
    font-weight: normal;
	font-style: normal;
    text-transform: none;
}

/*  Prices  */
.price, .price-new, .price-old, .price-reg, .save-percent { 
    font-family: Merriweather,Arial,Helvetica,sans-serif; 
}
.price, .price-new, .price-old, .price-reg, .save-percent { 
    font-weight: normal; 
}

/*  Buttons  */
.btn-default, .btn-primary, .brand-slider-items .name { 
    font-family: Merriweather,Arial,Helvetica,sans-serif; 
}
.btn-default, .btn-primary, .btn-danger {
    font-size: 12px;
    font-weight: normal; 
    text-transform: none;
}

/*  Main Menu Bar  */
#menu #homepage a, #menu .main-menu > li > a { 
    font-family: Merriweather,Arial,Helvetica,sans-serif; 
}
#menu #homepage a, #menu .main-menu > li > a {
	font-size: 16px;
    font-weight: normal;
}
#menu #homepage a, #menu .main-menu > li > a { 
    text-transform: none;
}

/*  Sub-Menu Main Categories  */
#menu #menu_hor .dropdown-menus li.main-cat > a {
	font-size: 16px;
    font-weight: normal;
}

/*  Sub-Menu Other Links  */
#menu .dropdown-menus a {
	font-size: 12px;
    font-weight: normal;
}