
/******************************************************/
/*	SELLMORE - EXTREME POWERFUL & FLUID RESPONSIVE OPENCART THEME WITH HUNDREDS OPTIONS
/*	Author: 321cart
/*	Theme Version: 1.1
/*	OpenCart Version: 2.3.0.2
/******************************************************/


@media (max-width: 478px) {
#cart .dropdown-menu {
	width: 100%;
}
#cart .dropdown-menu li > div {
	min-width: 100%;
}
}

@media (max-width: 496px) {
.thumbnails .image-additional img {
	margin-left: auto;
	margin-right: auto;
}
.thumbnails .col-xs-3 .image-additional img {
	max-width: 100%;
	margin-left: inherit;
	margin-right: inherit;
}
header.header-style-9 #search .input-lg, header.header-style-10 #search .input-lg {
	min-width: 125px !important;
	max-width: 125px !important;
	padding-left: 20px;
}
#open-top-custom-block {
	display: none;
}
.alert i, .quickview-success i {
	display: none;
}
.theme-banner-pro-label, .theme-banner-pro-subtitle, .theme-banner-pro-button,
.theme-slideshow-label, .theme-slideshow-subtitle, .theme-slideshow-button {
	display: none;
}
h2.theme-banner-pro-title, h2.theme-slideshow-title {
	font-size: 31px;
}
.dropdown-menu-right.my-account-dropdown-menu {
    right: auto;
    left: 0;
}
}

@media (max-width: 540px) {
#logo {
	width: 40%;
}
#logo .logo-creator {
    line-height: 50px;
}
}

@media (max-width: 767px) {
	
#content {
	float: left;
	width: 100%;
}

.input-group .form-control {
	min-width: 40px;
}
.tooltip {
	display: none !important;
}


/* Header */

header {
	background-image: none !important;
}
#top-news-content span#top-news, #controls i {
	display: none;
}
#top-news-content #news a {
	letter-spacing: normal;
}

header.header-style-1 #logo,
header.header-style-2 #logo,
header.header-style-6 #logo,
header.header-style-7 #logo,
header.header-style-8 #logo,
header.header-style-9 #logo,
header.header-style-10 #logo {
	width: 100% !important;
}
header.header-style-1 #logo .logo-creator,
header.header-style-2 #logo .logo-creator,
header.header-style-6 #logo .logo-creator,
header.header-style-7 #logo .logo-creator,
header.header-style-8 #logo .logo-creator {
    line-height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}
header.header-style-1 .header-items > .btn, header.header-style-1 .header-items div.dropdown > .btn, header.header-style-1 .header-items .btn-group,
header.header-style-2 .header-items > .btn, header.header-style-2 .header-items div.dropdown > .btn, header.header-style-2 .header-items .btn-group,
header.header-style-6 .header-items > .btn, header.header-style-6 .header-items div.dropdown > .btn, header.header-style-6 .header-items .btn-group,
header.header-style-7 .header-items > .btn, header.header-style-7 .header-items div.dropdown > .btn, header.header-style-7 .header-items .btn-group,
header.header-style-8 .header-items > .btn, header.header-style-8 .header-items div.dropdown > .btn, header.header-style-8 .header-items .btn-group {
	margin-top: 0;
}
header.header-style-1 .menu-mobile-block,
header.header-style-2 .menu-mobile-block,
header.header-style-6 .menu-mobile-block,
header.header-style-7 .menu-mobile-block,
header.header-style-8 .menu-mobile-block {
	float: left !important;
	margin-left: 0 !important;
}

header.header-style-3 .menu-mobile-block, header.header-style-4 .menu-mobile-block, header.header-style-5 .menu-mobile-block {
	margin-right: 125px !important;
}
header.header-style-5 #logo {
	background-color: transparent !important;
}
header.header-style-9 .dropdown-menu.pull-right {
    right: auto;
    left: 0;
}


header.header-style-9 #logo,
header.header-style-10 #logo {
	width: 100%;
}
header.header-style-9 .header-items .information-block, header.header-style-9 .header-items .contact-block, header.header-style-9 .header-items #cart, header.header-style-9 #search, 
header.header-style-10 .header-items .information-block, header.header-style-10 .header-items .contact-block, header.header-style-10 .header-items #cart, header.header-style-10 #search, 
header.header-style-9 .menu-mobile-block,
header.header-style-10 .menu-mobile-block {
	display: inline-flex;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	top: -30px;
}
header.header-style-9 .header-items .information-block, header.header-style-9 .header-items .contact-block, header.header-style-9 .header-items #cart, header.header-style-9 #search, 
header.header-style-9 .menu-mobile-block {
	float: inherit !important;
}
header.header-style-9 #logo .logo-creator,
header.header-style-10 #logo .logo-creator {
	line-height: 103px;
}
header.header-style-9 .header-items #cart .dropdown-menu.pull-right
header.header-style-10 .header-items #cart .dropdown-menu.pull-right {
	left: 0;
	right: auto;
}


.wrapper.boxed header > .container .header-items {
	padding-left: 30px;
	padding-right: 30px;
}
header > .container .header-logo #logo .logo-creator {
	margin-top: inherit;
}
.modal-body #search {
	margin: 35% 0 0;
}
.wrapper.boxed header.header-style-5 .header-items #logo {
	margin-left: -30px;
}
header.header-style-3 #menu {
	right: 15px !important;
}
header.header-style-4 #menu, header.header-style-5 #menu {
	right: 30px !important;
}
header.header-style-4 #cart-search-menu-container {
    padding-right: 0 !important;
}
#popular-search {
	display: none;
}
#open-top-custom-block {
	letter-spacing: 0;
}

#logo .logo-creator, #logo-menu .logo-creator {
	letter-spacing: 1px;
}

#cart, .search-block {
	margin-left: 10px !important;
}
#cart .btn {
	padding: 14px 5px;
}

/* Breadcrumb */
#wrapper.boxed  .breadcrumb, .wrapper.framed  .breadcrumb, #wrapper.framed .container .breadcrumb {
	margin: 15px 30px;
}

/* Category Page */
#wrapper.boxed #title_above_content .container {
	padding-left: 30px;
	padding-right: 30px;
}
.col-sm-6.cat-description {
	padding: 0 0 15px;
}
.col-sm-6.cat-img {
	padding: 0;
}
.cat-img img {
	display: none;
}
.category-list .image {
	margin-top: 15px;
}
.product-list .image a img.thumb_swap {
    right:0;
}
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}

.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}

/* Product Page */

.prev, .next, .product-under-image-custom-block {
	display: none;
}
.product-buy {
	margin-left: -30px;
	margin-right: -30px;
}
.product-page #product-tabs.content-padd {
	margin-left: -60px;
	margin-right: -60px;
}
.product-left .owl-carousel {
	margin: 0 0 30px;
}
#tab-review .rating-td {
	width: 35%;
}
#tab-review .rating-text {
	padding: 30px; 
}

.nav-tabs > li {
	width: 100%;
}
.nav-tabs > li > a, .nav-tabs > li.active > a {
	margin-top: 0;
	margin-bottom: 2px;
	margin-right: 0;
}
.tabs-products #product-tabs .nav-tabs > li > a, .product-page #product-tabs .nav-tabs > li > a {
	border-radius: 0!important;
}
#product-tabs .nav-tabs li.pt {
	margin: 0;
}
#product-tabs .nav-tabs li.pt a {
	margin-bottom: 1px;
}

/* Custom HTML Widgets - Content Column */

.widget-parallax.widget-parallax-001 {
	padding: 45px 30px!important;
}

/* Modules */

.panel-inline-title {
	padding: 35px 0 10px;
}
#testimonial-block .panel-inline-items-wrapper, .panel-inline-content .testimonial-block-item, .module-style-2 .panel-inline-content .panel-inline-subtitle, .tltblog .row .col-sm-9 h4 + div {
	padding: 0!important;
}
.panel-inline-items {
	padding: 15px 0;
}
.tltblog h4 {
	margin: 25px 0 15px;
}

#content .highly-recommended-module.panel-default > .panel-heading.open-highly-recommended-module {
	width: 90px;
}
.open-highly-recommended-module span, .open-highly-recommended-module i + span + i {
	display: none;
}


/* Footer */
footer {
	opacity: 1!important;
}
#information .row > div {
	margin-bottom: 40px;
}
#information .list-unstyled {
	margin-bottom: 30px;
}
#information .col-sm-3 {
	margin-bottom: 30px;
}
#powered .col-sm-3 {
	margin-bottom: 30px;
}
#information .col-sm-2\.4.col-xs-12 {
	width: 100%;
	margin-bottom: 30px;
}
#powered #footer-social .col-sm-3 {
	margin-bottom: 0;
}
#footer-payment-wrapper {
	margin-bottom: 30px;
}
#footer-payment {
	margin: 0 auto;
	text-align: center;
}
#powered-content {
	margin-bottom: 30px;
}
#footer-social {
	margin: 0 auto;
	text-align: center;
}


/* Modules */
div.pr1, div.pr2, div.pr3, div.pr4, div.pr5, div.pr6, div.pr7, div.pr8 {
	width: 100%;
}
#content .newsletter-block .newsletter-msg {
	text-align: center;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}
.module-style-1 .panel-inline-title {
	width: 100%;
	padding: 30px; 
}
.panel-inline-items {
	width: 100%;
}

/* Notifications */
.alert {
	width: 90%;
	left: 5%;
	right: 5%;
}
.alert, .quickview-success {
	line-height: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	height: auto;
}

/* Custom HTML Widgets */
.widget-wrapper h1, .widget-wrapper h2, .widget-wrapper h3 {
    text-align: center;
}

}

@media (max-width: 768px) {
.product-list .product-thumb .button-group {
	border-left: none;
}
#content .filters .btn {
	width: 100%;
}
#content .filters .filter-group-item {
	width: 50%;
}
}

@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 30px 0 0;
}
}

@media (min-width: 768px) {
#menu .dropdown:hover .dropdown-menus {
	display: block;
}

/* fixed column left + content + right */
#column-left  .product-layout .col-md-3{
   width: 100%;
}
#column-left + #content .product-layout .col-md-3 {
   width: 50%;
}
#column-left + #content + #column-right .product-layout .col-md-3{
   width: 100%;
}
#content + #column-right .product-layout .col-md-3{
   width: 100%;
}
}

@media (max-width: 979px) {
.theme-modal-popup .modal, .theme-modal-popup.modal {
	display: none;
}
#column-left .product-thumb, 
#column-right .product-thumb {
	overflow: hidden;
}
#column-left .product-items-0 .image,
#column-right .product-items-0 .image {
	display: none;
}
#column-left .product-items-0 .name, 
#column-right .product-items-0 .name,
#column-left .product-items-0 p.price,
#column-right .product-items-0 p.price,
#column-left .product-items-0 .rating,
#column-right .product-items-0 .rating {
	padding-left: 0;
}
}

@media (max-width: 991px) {
.wrapper.framed {
	margin: 0 auto !important;
}
#logo {
	float: left;
}
#menu {
    box-shadow: none !important;
}
.header-items #cart, .header-items .search-block {
	float: right;
	margin-left: 15px;
}
header.header-style-6 .menu-mobile-block {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
header.header-style-3 > .container, header.header-style-4 > .container, header.header-style-5 > .container {
	display: block;
}

header.header-style-3 #menu, header.header-style-4 #menu, header.header-style-5 #menu {
	display: block !important;
	margin-bottom: 0;
	float: right;
	position: absolute;
	top: 42px;
	right: 0;
	background: none;
}
header.header-style-4 #menu, header.header-style-5 #menu {
	right: 15px;
}
header.header-style-3 .menu-mobile-block, header.header-style-4 .menu-mobile-block, header.header-style-5 .menu-mobile-block {
	margin-right: 135px;
	margin-left: 0;
}
header.header-style-3 #menu .collapse, header.header-style-4 #menu .collapse, header.header-style-5 #menu .collapse {
	display: block;
}
header.header-style-3 #logo-menu-container, header.header-style-3 #menu .main-menu,
header.header-style-4 #logo-menu-container, header.header-style-4 #menu .main-menu,
header.header-style-5 #logo-menu-container, header.header-style-5 #menu .main-menu {
	display: none;
}
header.header-style-3 #cart-search-menu-container, header.header-style-4 #cart-search-menu-container, header.header-style-5 #cart-search-menu-container {
	width: auto;
}
header.header-style-5 #menu .container {
	padding: 0;
}
header.header-style-4 #cart-search-menu-container {
    padding-right: 15px;
}


header.header-style-5 > .container {
	padding-left: 0 !important;
}
header.header-style-5 #top .top-links.pull-left {
	display: none;
}
header.header-style-5 > #logo {
	display: none;
}
header.header-style-5 .header-items #logo {
	width: calc(50% + 15px)
}
.wrapper.framed header.header-style-5 .header-items #logo {
	margin-left: -30px;
}
header.header-style-5 #custom-bar-wrapper {
	display: none;
}

header.header-style-9 #search .input-lg, header.header-style-10 #search .input-lg {
	min-width: 200px;
	max-width: 200px;
}

#menu, .menu_label {
	display: none;
}
#title_above_content {
	margin-top: 0px;
}
#wrapper.full-width #title_above_content + .container, #wrapper.full-width-border #title_above_content + .container {
	margin-top: -100px;
}
.wrapper.framed .slideshow-module-wrapper {
	margin: 0 -30px;
}
.product-filter > div {
	margin-bottom: 20px;
}
.product-filter > div.text-right + div.text-right {
	padding-left: 0;
	margin-bottom: 0;
}
.panel-inline-content .panel-inline-title .btn, .panel-inline-content .panel-inline-title + .btn {
	padding: 14px 15px;
}

#content .module-style-1 h2 {
	font-size: 29px;
}

/* Features Blocks */

#features.style-3 .theme-modal {
	width: 100%;
	margin-left: 0;
}
}

@media (min-width: 768px) and (max-width: 991px) {
#wrapper.boxed  .breadcrumb {
	margin: 15px 0;
}
#wrapper.boxed header.header-style-8 + .container .breadcrumb {
	margin: 15px 0;
}
#wrapper.boxed header.header-style-8 + .container .breadcrumb {
	margin: 15px 0;
}
.wrapper.framed  .breadcrumb, #wrapper.framed .container .breadcrumb {
	margin: 15px 30px;
}
#menu .dropdown-menus > .cat-img {
	display: none;
}
#features .theme-modal {
	margin-top: 15px;
	margin-bottom: 15px;
}
#content .filters .btn {
	width: 50%;
}
}

@media (min-width: 768px) and (max-width: 979px) {
header > .container .col-sm-4.header-logo {
	padding-left: 10px;
	padding-right: 10px;
}
#menu .main-menu > li > a {
	padding: 0 10px;
	letter-spacing: normal;
}
#theme-custom-products.module-style-1 .panel-inline-title, #theme-custom-products.module-style-1 .panel-inline-items {
	width: 50%;
}
}

@media (max-width: 1200px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
header.header-style-5 #top .top-links.pull-left {
	display: none;
}
}
