html {overflow:visible;}

#popupcart_extended {
    display:none;
    overflow:hidden;
    font-size:14px !important;
    border-radius:6px !important;
    box-shadow: 0 0 15px #555 !important;
    background-color: #fff;
    padding:15px;
	width:620px;
    transform: translateX(0) translateY(-20%);
    -o-transform: translateX(0) translateY(-20%);
    -moz-transform: translateX(0) translateY(-20%);
    -webkit-transform: translateX(0) translateY(-20%);
    transition: all ease-in-out .2s;
}

.popup_visible #popupcart_extended {
	transform: translateX(0) translateY(0%);
	-o-transform: translateX(0) translateY(0%);
	-moz-transform: translateX(0) translateY(0%);
	-webkit-transform: translateX(0) translateY(0%);
	transition: all ease-in-out .2s;
}
.popupcart_info_table {
	padding: 15px 0;
    display: table;
    width: 100%;
}
@media (max-width:480px) {
.popupcart_info_table {
    display: initial;
}	
}
        ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-thumb {
            background: #f2f3f7;
            border-radius: 2px;
        }
        ::-webkit-scrollbar-track-piece {
            background: #fff;
        }
#popupcart_extended .head {
	font-size:1.2em;
	font-weight:400;
	background:#eee;
	background: #e2e2e2 ;
	color:#666;
	margin:-15px -15px 0;
	padding:13px 15px 15px;
	border-bottom:solid 1px #d2d2d2;
	border-radius:6px 6px 0 0;
}

#popupcart_extended .head .fa-close{
	opacity: 1.0;
    float: right;
    cursor: pointer;
    padding: 5px 6px;
    margin: -1px -4px 0 0;
    color: #888;
    border: 1px solid #7e7a7a;
    border-radius: 50%;
}
#popupcart_extended .head .fa-close:hover{color:#f00;}
#popupcart_extended .popupcart_info {max-height:220px;min-height:60px;margin-bottom:5px;overflow-y:scroll;}
#popupcart_extended .popupcart_info table{width:100%;max-width:100%;padding:0;margin:0;border-collapse:collapse;border:none;}
#popupcart_extended .popupcart_info tr{border-collapse:collapse;}
#popupcart_extended .popupcart_info tr:first-child{border-collapse:collapse;}

#popupcart_extended .popupcart_info tr:first-child td{
	vertical-align:middle;
	height:20px;
	min-height:20px;
	color:#777;
	font-size:0.8em;
	text-shadow:0 1px 0 #fff;
	padding:6px 10px 7px;
}

#popupcart_extended .popupcart_info .hr {height:0px !important;min-height:0px !important;}

#popupcart_extended .popupcart_info .hr td{
	height:0px !important;
	min-height:0px !important;
	border-top:solid 1px #e2e2e2;
	border-bottom:solid 1px #fff;
}

#popupcart_extended .popupcart_info td {
	vertical-align:middle;
	border-collapse: collapse;
	padding:0 10px;
	height:80px;
	min-height:80px;
	box-sizing: border-box;
}

#popupcart_extended .popupcart_info tr:first-child .image{
	overflow: hidden;
	text-align:center;
	padding:0;
	text-overflow: ellipsis;
}

#popupcart_extended .popupcart_info .image {
	width:64px;
	width: 12%;
	vertical-align:middle;
	text-align:center;
	padding:0;
	float: left;
}

#popupcart_extended .popupcart_info .name {
	width: 40%;
	line-height:1.0em;
	padding-left:15px !important;
	float: left;
}

#popupcart_extended .popupcart_info .name a {
	font-size:0.9em;
	line-height:1.5em;
    height: 67px;
    display: table-cell;
    vertical-align: middle;
}

#popupcart_extended .popupcart_info small {
	font-size:0.7em;
}

#popupcart_extended .popupcart_info .image img {
	width:64px !important;
	max-width:64px !important;
	height:auto;
	border:solid 1px #e2e2e2;
	border-radius:3px;
	padding:4px;
	background:#fff;
	outline: 0;
  	box-sizing: border-box;
  	cursor:pointer;
  	margin:0;
}

#popupcart_extended .popupcart_info .brand {
	text-align:center;
	font-size:0.9em;
	float: left;
}

#popupcart_extended .popupcart_info .quantity {
	width: 20%;
	min-width:82px;
	padding:0 5px;
	text-align:center;
	float: left;
} 
#popupcart_extended .popupcart_info .quantity div {
    height: 67px;
    display: table-cell;
    vertical-align: middle;
}
#popupcart_extended .popupcart_info .quantity input[type='text'] {
	display:inline-block;
	vertical-align:top;
	text-align:center; 
	padding: 10px 4px;
	border-right:none;
	background:#fff !important; 
	color:#555 !important;
	font-size:12px !important;
	line-height: 1;
	border: none;
}

#popupcart_extended .popupcart_info .quantity span {display:inline-block;margin:0 0 0 -4px;}
#popupcart_extended .popupcart_info span .fa {display:block;color:#000;padding:8px 8px;background:#ffd640; 
	font-size:7px; 
	cursor:pointer;
}
#popupcart_extended .popupcart_info .fa:hover{}



#popupcart_extended .popupcart_info .price {
	width: 23%;
	font-size:14px;
	text-align:center;
	float: left;
	display: table;
}
#popupcart_extended .popupcart_info .price span {
    height: 67px;
    display: table-cell;
    vertical-align: middle;
    font-family: Impact,Price,sans-serif !important;
    font-style: italic;
    color: #000;
    line-height: 1;
    text-shadow: -0.05em -0.04em 0 #fff, -0.07em 0.05em 0 #fff, 0.07em -0.05em 0 #fff, 0.04em 0.05em 0 #fff, 0.08em 0.09em 0 #707070, -0.04em 0.09em 0.01em #707070;
    font-size: 22px;
	text-align: center;
}
#popupcart_extended .popupcart_info .remove {
	width:2px;
	min-width:0px;
	padding:0 3px 0 0;
	text-align:right;
	float: left;
}
.popupcart_total ul li:last-child {
	display: none !important;
}
.popupcart_total ul li {
	padding: 13px 4px;
    background: #fff;
	display: none;
}
.popupcart_total ul li:first-child {
	display: block;
}
.popupcart_total ul li span {
	padding: 0;
	line-height: 1;
	font-size: 14px;
}
.popupcart_total ul li span.tots_summs {
    font-family: Impact,Price,sans-serif !important;
    font-style: italic;
    color: #000;
    line-height: 1;
    text-shadow: -0.05em -0.04em 0 #fff, -0.07em 0.05em 0 #fff, 0.07em -0.05em 0 #fff, 0.04em 0.05em 0 #fff, 0.08em 0.09em 0 #707070, -0.04em 0.09em 0.01em #707070;
    font-size: 20px;
	text-align: center;
}
#popupcart_extended .popupcart_info .remove i{
	cursor:pointer;
    height: 67px;
    display: table-cell;
    vertical-align: middle;
}

#popupcart_extended .popupcart_info .remove i:hover{color:#f00;}

#popupcart_extended #cart-total {
	display:none !important;
}

#popupcart_extended .checkout {
	display:none !important;
}

#popupcart_extended .popupcart_total{
	overflow:auto;
	line-height:23px;
	min-height:35px;
	padding:2px 0 10px;
	width: 33%;
}
.popupcart_total {
	padding: 0;
}
#popupcart_extended .popupcart_total table{
	float:right;
}

#popupcart_extended .popupcart_total td{
	display:none;
	border:none;
	text-align:right;
}

#popupcart_extended .popupcart_total td + td{
	padding:0 0 0 10px;
	text-align:left;
}

#popupcart_extended .popupcart_total tr:last-child td{
	display:table-cell;
	font-size:1.0em !important;
}

#popupcart_extended .continue {
	text-decoration:none;
	border-bottom:dashed 1px;
	display:block;
	float:left;
	line-height:normal;
} 

#popupcart_extended .popupcart_buttons {
	border-top:solid 1px #fff;
	padding:16px 0 2px;
	text-align:center;
	overflow:auto;
	margin: 0 -15px -15px -15px;
	background: #e5e5e5;
}

#popupcart_extended .popupcart_buttons a, #popupcart_extended .popupcart_buttons .button{
	font-size:0.9em;
	line-height: 1;
	padding: 16px 10px;
}
#popupcart_extended .popupcart_buttons a {
	background: #fff;
	border:solid 1px #e5e5e5;
	font-size: 14px;
	width: 30%;
	cursor: pointer;
	transition: 0.4s;
}
#popupcart_extended .popupcart_buttons a:hover {
	background: #000;
	color: #fff;
	transition: 0.4s;
}
#popupcart_extended .popupcart_buttons .button{
	font-size: 14px;
    line-height: 1;
    text-decoration: none;
    text-transform: initial;
	border: none;
}

#popupcart_extended .popupcart_buttons :first-child {
	display:block;
	float:left;
	font-size: 17px;
}
#popupcart_extended .popupcart_total button {
}
#popupcart_extended .popupcart_buttons :last-child {
	display:block;
	float:right;
	margin-right: 15px;
}
#popupcart_extended .popupcart_buttons .popupcart_total ul {
	padding: 0;
	padding-left: 15px;
	float: left;
	margin-right: 0;
	width: 90%;
}

#popupcart_extended .empty {
	padding-top:15px;
	font-weight:700;
	text-align:center;
}

#button-cart2{
	margin-left:15px;
}
#popupcart_extended .head .fa-check{
	padding: 10px;
	background: #fff;
	border-radius: 50%;
	margin-right: 15px;
}
#popupcart_extended #related {position:relative;overflow:hidden;background:#eee;margin:15px -24px -18px;padding:0 20px 15px;box-shadow: inset 0 1px 13px #ccc}
#popupcart_extended #related .related_product{background:none;box-shadow: 0 0 0;margin:0;}
#popupcart_extended #related .heading{color: #f00;font-size:1.1em;font-weight:400;border-bottom:solid 1px #f8f8f8;box-shadow: inset 0 -1px 0 #d5d5d5;text-shadow: 0 1px 0 #fff;padding:0 0 10px;margin:10px 5px 12px;}
#popupcart_extended .owl-wrapper-outer, #popupcart_extended .owl-wrapper {padding:0;margin:0;background:transparent;border:none;box-shadow: 0 0 0;}
#popupcart_extended #related .owl-controls {height:auto;}
#popupcart_extended #related .owl-buttons {position:absolute;top:-42px;right:5px;}
#popupcart_extended #related .owl-buttons > div {
    position: relative;
    display: inline-block;
    left: auto;
    right: auto;
    width: 20px;
    text-align: center;
    padding: 0px 0 0 1px;
    margin: 0;
    line-height: 16px !important;
    font-size: 1.1em;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    color: #888;
    border: solid 1px #ccc;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    border-radius: 50%;
    opacity: 1;
    height: 20px;
}
#popupcart_extended #related .owl-buttons > div:hover{background:#eee;}
#popupcart_extended #related .owl-buttons > div:active {box-shadow:inset 0 1px #ccc;background:#ddd;background: linear-gradient(to bottom, #ddd 0%, #eee 100%);}
#popupcart_extended #related .owl-buttons > div + div {margin:0 0 0 10px}
#popupcart_extended #related .owl-pagination {position:absolute;top:-38px;right:80px;	font-size:0.8em;display:none;}
#popupcart_extended #related .owl-pagination > div {display:inline-block;margin:0 0 0 8px;padding:0 4px;border-radius:100%;color:#888;}
#popupcart_extended #related .owl-pagination > div:hover {background:#ddd;}
#popupcart_extended #related .owl-pagination > div.active {background:#ddd;}
#popupcart_extended #related .owl-item {}
#popupcart_extended #related .owl-item + .owl-item {}
#popupcart_extended #related .owl-item > div {margin:0 5px;padding:10px;border:solid 1px #ddd;border-radius:4px;background:#f5f5f5;box-shadow: inset 0 1px 0 #fff;}
#popupcart_extended #related .owl-item > div > div {border:solid 0px;display:inline-block;vertical-align:top;}
#popupcart_extended #related .owl-item > div > div + div {margin:0px 0px 0 0;width:163px;}
#popupcart_extended #related .image {margin:0 7px 0 0;}
#popupcart_extended #related .image img {width:82px;height:auto;border: solid 1px #e2e2e2;border-radius:4px;padding:5px;background:#fff;}
#popupcart_extended #related .name {min-height:40px;white-space:pre-line;line-height:1.0em;}
#popupcart_extended #related .name a{font-size:0.9em;white-space:pre-line;}
#popupcart_extended #related .price {margin:0 10px 6px 0;font-size:1.0em;line-height:1.0em;color:#444;}
#popupcart_extended #related .price .price-old{text-decoration:line-through;color:#f00;}
#popupcart_extended #related .cart {margin:0;}
#popupcart_extended #related .cart .button {line-height:0px;margin:-1px 0 0;padding: 3px 14px 4px;}

@media (max-width:650px){
	#popupcart_extended .popupcart_info .image img {
    width: 150px !important;
    max-width: 150px !important;
	}
	#popupcart_extended  {width:85%;}
	#popupcart_extended .cont.button {display:none}
	#popupcart_extended .popupcart_info .name {padding-left:5px !important;}
	#popupcart_extended .popupcart_info .quantity {min-width:auto;padding:0 5px;}
	#popupcart_extended .popupcart_info {margin:0 -12px 5px;padding: 13px 15px 15px;}
	#popupcart_extended .popupcart_info .quantity {min-width:auto;padding:0 5px;}
	#popupcart_extended .popupcart_info .quantity input {border-radius:3px !important;border:solid 1px #ccc !important;}
	#popupcart_extended .popupcart_info .brand, #popupcart_extended .popupcart_buttons :first-child {display:none}
#popupcart_extended .popupcart_buttons a {
    width: -webkit-fill-available;
	width: -moz-available;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}
#popupcart_extended .popupcart_buttons .checks_simpl {
    display: block;
    float: right;
    margin-right: 15px;
    width: -webkit-fill-available;
	width: -moz-available;
    margin-left: 15px;
}
	#popupcart_extended .popupcart_buttons .popupcart_total ul {padding: 15px;width:100%;}
	#popupcart_extended .popupcart_total {width:100%;}
	.popupcart_total ul li {width:100%;}
	#popupcart_extended .popupcart_info .name {
    width: 100%;
	}
	#popupcart_extended .popupcart_info .price {
    width: 100%;
	}
	#popupcart_extended .popupcart_buttons :first-child {
		display:block
	}
	#popupcart_extended .popupcart_info .image {
    width: 100%;
	}
	#popupcart_extended .popupcart_info .quantity div {
    height: 67px;
    display: initial;
    margin: 0 auto;
    float: none;
    vertical-align: middle;
}
#popupcart_extended .popupcart_info .quantity {
    width: 100%;
}
#popupcart_extended .popupcart_info .quantity input[type='text'] {
    border: none !important;
}
#popupcart_extended .popupcart_info .name a {
    font-size: 19px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inherit;
    height: auto;
}
#popupcart_extended .popupcart_info .remove {
    position: absolute;
    right: 0;
    top: 0;
}
}
.prods_in_popup {
	position: relative;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    margin-bottom: 15px;
	width: 100%;
}
.prods_in_popup:last-child {
	border-bottom: none;
}
@media (max-width:500px){
	#popupcart_extended .popupcart_info {margin:0 -10px 5px}
	#popupcart_extended .popupcart_info .quantity {min-width:auto;padding:0 5px;}
}

@media (max-width:400px){
	#popupcart_extended .popupcart_info {margin:0 -12px 5px}
	#popupcart_extended .popupcart_info .quantity {min-width:auto;padding:0 5px;}
}