.simple-content {
    margin: 0px 5px;
}
.simple-content fieldset {
    text-align: left;
}

.simple-content fieldset h3 {
    margin: 0;
}
.simple-content .name {
}
.simple-content .button, #simplecheckout_login .button {
    margin: 0px !important;
}
.simple-content .buttons {
    margin: 0px 0px 15px 0px;
    border: none;
}
.simple-content .form-control {
    width: 100%;
}
#simplecheckout_login .buttons {
    margin: 0;
    border: none;
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout {
    width:100%;
}
.simplecheckout:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-button-block:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-three-column {
    float:left;
    margin-right:2%;
    min-width: 200px;
    max-width: 500px;
    width:32%;
}
.simplecheckout-three-column + .simplecheckout-three-column + .simplecheckout-three-column {
    margin-right:0px;
    float: right;
}

#simplecheckout_cart {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 3px #e5e5e5;
}
.simplecheckout-cart_head {
	width: 100%;
	float: left;
	background-color: #f5f5f5;
	text-transform: initial !important;
}
.simplecheckout-cart_head .image {
    width: 10%;
    float: left;
    text-align: center;
	display: none;
}
.simplecheckout-cart_head .name {
    width: 40%;
    float: left;
    text-align: left;
}
.simplecheckout-cart_head .model {
    width: 10%;
    float: left;
    text-align: center;
}
.simplecheckout-cart_head .quantity {
    width: 15%;
    float: left;
    text-align: center;
}
.simplecheckout-cart_head .price {
    width: 15%;
    float: left;
    text-align: center;
}
.simplecheckout-cart_head .total {
    width: 15%;
    float: left;
    text-align: center;
}
.simplecheckout-cart_head .remove {
    width: 10%;
    float: left;
    text-align: center;
}

.simplecheckout-cart_tovar {
	width: 100%;
	float: left;
	padding: 10px;
}
.simplecheckout-cart_tovar .image {
    width: 10%;
    float: left;
    text-align: center;
	display: table;
	height: 88px;
	vertical-align: middle;
}
.simplecheckout-cart_tovar .name {
    width: 30%;
    float: left;
    text-align: center;
	display: table;
	height: 88px;
	vertical-align: middle;
}
.simplecheckout-cart_tovar .name a {
	display: table-cell;
	vertical-align: middle;
}
.simplecheckout-cart_tovar .model {
    width: 10%;
    float: left;
    text-align: center;
	display: table;
	height: 88px;
}
.simplecheckout-cart_tovar .model span {
	display: table-cell;
	vertical-align: middle;
}
.simplecheckout-cart .simplecheckout-cart_tovar .quantity {
    width: 15%;
    float: left;
    text-align: center;
	display:  flex !important;
    justify-content: center;
	height: 88px;
	flex-direction: column;
}
.simplecheckout-cart_tovar .quantity_full {
	
}
.simplecheckout-cart_tovar .quantity .btn {
	padding: 3px;
	float: none;
	display: inline-block;
}
.simplecheckout-cart_tovar .quantity .input-group-btn {
	float: none;
	display: inline-block;
	width: auto;
}
#simplecheckout_cart .simplecheckout-cart_tovar .quantity .form-control {
	float: none;
	display: inline-block;
	width: auto;
    border: none;
    box-shadow: none;
    text-align: center;
}

.simplecheckout-cart .simplecheckout-cart_tovar .price {
    width: 15%;
    float: left;
    text-align: center;
	height: 88px;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.simplecheckout-cart_tovar .price span {
    display: inline-block;
    vertical-align: middle;
    font-family: impact;
    font-style: italic;
    font-size: 30px;
    color: #000;
    line-height: 1;
    text-shadow: -0.05em -0.04em 0 #fff, -0.07em 0.05em 0 #fff, 0.07em -0.05em 0 #fff, 0.04em 0.05em 0 #fff, 0.08em 0.09em 0 #707070, -0.04em 0.09em 0.01em #707070;
    font-size: 22px;
}
.simplecheckout-cart .simplecheckout-cart_tovar .total {
    width: 15%;
    float: left;
    text-align: center;
	height: 88px;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.simplecheckout-cart_tovar .total span {
    display: inline-block;
    vertical-align: middle;
    font-family: impact;
    font-style: italic;
    font-size: 30px;
    color: #000;
    line-height: 1;
    text-shadow: -0.05em -0.04em 0 #fff, -0.07em 0.05em 0 #fff, 0.07em -0.05em 0 #fff, 0.04em 0.05em 0 #fff, 0.08em 0.09em 0 #707070, -0.04em 0.09em 0.01em #707070;
    font-size: 22px;
}
.simplecheckout-cart .simplecheckout-cart_tovar .remove {
    width: 3%;
    float: left;
    text-align: center;
}
.simplecheckout-cart .simplecheckout-cart_tovar .remove .btn.btn-danger {
    background: none;
    border: none;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    height: 88px;
}
.simplecheckout-cart .simplecheckout-cart_tovar .remove .btn.btn-danger .fa.fa-times-circle {
    color: #c8c7c7;
    font-size: 25px;
}
.form-group.required.row-customer_telephone, .form-group.required.row-customer_firstname, .form-group.row-customer_email {
	width: 100%;
	float: left;
	margin: 0;
}
.shipping_method_full_block {
	float: left;
	border-right: none;
	padding: 0;
	height: auto;
}
@media (min-width: 768px) {	
.form-group.required.row-customer_telephone, .form-group.required.row-customer_firstname, .form-group.row-customer_email {
	width: 33.33333%;
	float: left;
	margin: 0;
}
.shipping_method_full_block {
	float: left;
	border-right: 1px solid #e5e5e5;
	padding: 0;
	height: auto;
}
}
.form-group.required.row-customer_telephone label, .form-group.required.row-customer_firstname label, .form-group.row-customer_email label,
.form-group.required.row-customer_telephone div.col-sm-8, .form-group.required.row-customer_firstname div.col-sm-8, .form-group.row-customer_email div.col-sm-8 {
    width: 100%;
    text-align: left;
}
.form-group.required.row-customer_telephone .simplecheckout-tooltip, .form-group.row-customer_email .simplecheckout-tooltip {
	display: block !important;
    font-size: 10px;
    line-height: 13px;
    margin-top: 10px;
    color: #acabab;
}
.shipping_method_full_block .radio {
	padding: 0 5px;
	margin: 0;
}
.shipping_method_full_block .radio label {
	display: table-cell !important;
	vertical-align: middle;
	height: 70px;
	padding-left: 35px;
}
.shipping_method_full_block .radio label input {
	top: 35%;
	display: none;
}

.shipping_method_full_block .radio .fa-check-circle-o {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	position: absolute;
	left: 7px;
	top: 29%;
    font-size: 30px;
	color: #c9c9c9;
}
.shipping_method_full_block .radio label input[type=radio]:checked + .fa-check-circle-o {
    color: #ffd640;
}



#simplecheckout_shipping .simplecheckout-block-content {
	padding: 0;
    display: table;
    width: 100%;
}
#simplecheckout_shipping_address .row-shipping_address_city {
	width: 25%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_address_1 {
	width: 25%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field20 {
	width: 15%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field21 {
	width: 15%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field22 {
	width: 15%;
	float: left;
	margin: 0;
}
@media (max-width: 480px) {
	
#simplecheckout_shipping_address .row-shipping_address_city {
	width: 50%;
	float: left;
	margin: 0;
	}
#simplecheckout_shipping_address .row-shipping_address_address_1 {
	width: 50%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field20 {
	width: 33.333%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field21 {
	width: 33.333%;
	float: left;
	margin: 0;
}
#simplecheckout_shipping_address .row-shipping_address_field22 {
	width: 33.333%;
	float: left;
	margin: 0;
}
}
#simplecheckout_shipping_address .row-shipping_address_city label, #simplecheckout_shipping_address .row-shipping_address_city div.col-sm-8,
#simplecheckout_shipping_address .row-shipping_address_address_1 label, #simplecheckout_shipping_address .row-shipping_address_address_1 div.col-sm-8,
#simplecheckout_shipping_address .row-shipping_address_field20 label, #simplecheckout_shipping_address .row-shipping_address_field20 div.col-sm-8,
#simplecheckout_shipping_address .row-shipping_address_field21 label, #simplecheckout_shipping_address .row-shipping_address_field21 div.col-sm-8,
#simplecheckout_shipping_address .row-shipping_address_field22 label, #simplecheckout_shipping_address .row-shipping_address_field22 div.col-sm-8 {
    width: 100%;
    text-align: left;
}
#simplecheckout_shipping_address .row-shipping_address_address_1 .simplecheckout-tooltip, #simplecheckout_shipping_address .row-shipping_address_field20 .simplecheckout-tooltip, #simplecheckout_shipping_address .row-shipping_address_field21 .simplecheckout-tooltip, #simplecheckout_shipping_address .row-shipping_address_field22 .simplecheckout-tooltip {
	display: block !important;
    font-size: 10px;
    line-height: 13px;
    margin-top: 10px;
    color: #acabab;
}
.payment_method_blockse {
	border: 1px solid #e5e5e5;
}
.payment_methods_fulles input[type=radio]:checked + .col-md-3 > .payment_method_blockse {
	border: 1px solid #000;
}
.payment_method_blockse {
	padding: 8px;
}
.payment_methods_fulles .payment_method_blockse label, .payment_methods_fulles .payment_method_blockse label span {
	width: 100%;
}
.payment_method_blockse .radio {
	margin: 0;
    padding: 0;
    line-height: 0;
}
.payment_method_blockse label {
	padding: 0;
	line-height: 16px;
	cursor: pointer;
}
.input_none_hide {
	display: none;
}
.payment_method_titles {
	font-weight: bold;
	height: 33px;
    float: left;
	overflow: hidden;
}
.payment_method_descriptions {
	font-size: 12px;
	margin-bottom: 12px;
    float: left;
}
.payment_method_blockse .form-group {
	margin-bottom: 0;
}
#simplecheckout_summary .simplecheckout-cart {
	display: none;
}

#simplecheckout_summary #total_total.simplecheckout-cart-total {
	border: 1px solid #e5e5e5;
	box-shadow: 0px 0px 2px #e5e5e5;
	text-align: center;
	display: block;
}
#simplecheckout_summary #total_sub_total {
	display: none;
}
#total_total, #total_shipping {
	display: none;
}
.price_colors {
	font-weight: 600;
}
.checkout-simplecheckout h1 {
	margin-top: 0;
}
@media only screen and (max-width:992px) {
	.simplecheckout-cart_head {
		display: none !important;
	}
	.simplecheckout-cart_tovar .image {
		width: 40%;
	}
	.simplecheckout-cart_tovar .image img {
		height: 160px;
	}
	.simplecheckout-cart_tovar .name {
		width: 60%;
		height: 160px;
	}
	.simplecheckout-cart_tovar .name a {
		font-size: 20px;
		text-align: left;
	}
	.simplecheckout-cart_tovar .model {
		width: 25%;
		display: none !important;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .quantity {
		width: 40%;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .price {
		width: 30%;
		display: none !important;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .total {
		width: 40%;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .remove {
		width: 17%;
	}
}
@media only screen and (max-width:768px) {
	
	
	.simplecheckout-cart_head {
		display: none !important;
	}
	.simplecheckout-cart_tovar .image {
		width: 100%;
	}
	.simplecheckout-cart_tovar .image img {
		height: initial;
	}
	.simplecheckout-cart_tovar .name {
		width: 100%;
		height: auto;
	}
	.simplecheckout-cart_tovar .name a {
		font-size: 20px;
		text-align: left;
	}
	.simplecheckout-cart_tovar .model {
		width: 25%;
		display: none !important;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .quantity {
		width: 40%;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .price {
		width: 30%;
		display: none !important;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .total {
		width: 40%;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .remove {
		width: 17%;
	}
	
	
    .simplecheckout-three-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
.simplecheckout-left-column {
    float:left;
    margin-right:10px;
    min-width: 280px;
    max-width: 900px;
    width:52%;
}
.simplecheckout-right-column {
    float:right;
    min-width: 280px;
    max-width: 900px;
    width:46%;
}
@media only screen and (max-width:1024px) {
    .simplecheckout-left-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100% !important;
    }
    .simplecheckout-right-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100% !important;
    }
}
@media only screen and (max-width:1200px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (max-width:768px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.simplecheckout-block {
    clear: both;
    margin-bottom: 20px;
}
.simplecheckout-block-content {
    padding: 10px;
}
@media only screen and (min-width:1200px) {
    .simplecheckout-block-content>fieldset:nth-of-type(2),
    .simplecheckout-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simplecheckout-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    margin-bottom: 10px;
    padding: 10px;
}
@media only screen and (min-width:1200px) {
    .simpleregister-block-content>fieldset:nth-of-type(2),
    .simpleregister-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simpleregister-block-content:after {
    content:"";
    display:block;
    clear:both;
}
@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding: 5px;
}
.simplecheckout-methods-table td.title label {
    display: block !important;
}
.simplecheckout-methods-table td.quote {
    width: 15%;
}
.simplecheckout-methods-description {
    padding: 5px;
    margin: 5px 0px;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    clear: both;
    margin-bottom: 20px;
    padding: 6px;
    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simplecheckout-button-right {
    float: right;
    text-align: center;
    width: 100%;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}
#simplecheckout_payment img {
	max-height: 24px;
	width: auto;
}
.simplecheckout-button {
    display: inline-block;
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background: url('../image/button.png') top left repeat-x;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    cursor: pointer;
    -khtml-border-radius: 7px 7px 7px 7px;
}
.simplecheckout-button-left .button {
    margin: 0;
}
@media only screen and (max-width:780px) {
    .simplecheckout-button-left {
        display: none;
    }
}
.simplecheckout-button:hover {
   background: url('../image/button-active.png') repeat-x;
}

#simplecheckout_customer .simplecheckout-block-content {
    text-align: center;
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-login-right .button {
    float: left;
    margin: 0;
}
.simplecheckout-login-right input {
    max-width: 160px !important;
    text-align:left;
}
#simplecheckout_cart .form-control {
    display: inline-block !important;
    min-width: 50px;
}
.simplecheckout-cart {
    margin: 0px !important;
    width: 100%;
    border-collapse: collapse;
}
.simplecheckout-cart-total {
    padding: 10px;
	border-top: 1px solid #e5e5e5;
	text-align: right;
	font-size: 20px;
}
.simplecheckout-cart-total:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-cart-total .buttons {
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-cart-total input {
    margin-right: 0px !important;
    max-width: 100px;
}
.simplecheckout-cart-total span.inputs {
    margin: 0 3px 0 0 !important;
    display: inline-block !important;
}
.simplecheckout-cart-total span.inputs input[type=text]{
    margin: 0px;
}
.simplecheckout-cart-total-value {
    display: inline-block;
    margin: 0px 3px;
    min-width: 60px;
    font-family: impact;
    font-style: italic;
    font-size: 30px;
    color: #000;
    line-height: 1;
    text-shadow: -0.05em -0.04em 0 #fff, -0.07em 0.05em 0 #fff, 0.07em -0.05em 0 #fff, 0.04em 0.05em 0 #fff, 0.08em 0.09em 0 #707070, -0.04em 0.09em 0.01em #707070;
    font-size: 30px;
	font-weight: 600;
}
.checkout-simplecheckout #wrapper .header-style-10 + .container {
	max-width: 1200px;
}
.simplecheckout-cart-total-remove {
    display: inline-block;
    width: 18px;
    text-align: center;
}
.simplecheckout-cart-total-remove img {
    vertical-align: -2px;
    cursor: pointer;
}
.simplecheckout-cart col.image {
    width: 5%;
}
.simplecheckout-cart col.name {

}
.simplecheckout-cart col.model {
    width: 10%;
}
.simplecheckout-cart col.quantity {

}
.simplecheckout-cart col.price {
    width: 10%;
}
.simplecheckout-cart col.total {
    width: 10%;
}
.simplecheckout-cart col.remove {
    width: 7px;
}
.simplecheckout-cart th {
    padding: 8px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F8F8F8;
    color: #4D4D4D;
    font-weight: bold;
}
.simplecheckout-cart th.image {
    width: 1px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: static !important;
}
.simplecheckout-cart th.name {
    text-align: center;
}
.simplecheckout-cart .name {
    font-size: inherit !important;
}
.simplecheckout-cart th.model {
    text-align: center;
}
.simplecheckout-cart th.quantity {
    text-align: center;
}
.simplecheckout-cart .price {
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart .total {
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart .quantity {
    display: table-cell !important;
    position: static !important;
}
.simplecheckout-cart th.remove {
    width: 7px;
    text-align: center;
}
.simplecheckout-cart td {
    padding: 7px;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.simplecheckout-cart td.image {
    text-align: center;
    display: table-cell;
    vertical-align: middle !important;
    position: static !important;
}
.simplecheckout-cart td.name {
    text-align: center;
}
.simplecheckout-cart td.name div.image {
    display: none;
}
.simplecheckout-cart td.model {
    text-align: center;
}
.simplecheckout-cart td.quantity {
    min-width:70px;
    vertical-align:top;
    text-align: center;
    white-space: nowrap;
}
.simplecheckout-cart td.quantity input {
}
.simplecheckout-cart  td.quantity .input-group {
    margin: auto !important;
}
.simplecheckout-cart  td.quantity .quantity button {
    margin: 0 !important;
}
.simplecheckout-cart td.quantity img {
    display:inline-block;
    border: 0px;
    cursor:pointer;
}
.simplecheckout-cart td.price {
    white-space: nowrap;
    display: table-cell !important;
    font: inherit !important;
}
.simplecheckout-cart td.total {
    white-space: nowrap;
    display: table-cell !important;
}
.simplecheckout-cart td.remove {
    padding-right: 3px;
    padding-left: 3px;
    width: 7px;
    vertical-align: top;
    text-align: center;
}
.simplecheckout-cart td.remove img {
    max-width: 30px !important;
    cursor: pointer;
}
.simplecheckout-cart td.product-warning {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-cart td.right {
    vertical-align: middle;
    text-align: right;
}
.simplecheckout-three-column .simplecheckout-cart col.image,
.simplecheckout-three-column .simplecheckout-cart th.image,
.simplecheckout-three-column .simplecheckout-cart td.image,
.simplecheckout-three-column .simplecheckout-cart col.price,
.simplecheckout-three-column .simplecheckout-cart th.price,
.simplecheckout-three-column .simplecheckout-cart td.price,
.simplecheckout-three-column .simplecheckout-cart col.model,
.simplecheckout-three-column .simplecheckout-cart th.model,
.simplecheckout-three-column .simplecheckout-cart td.model {
    display: none;
}
.simplecheckout-three-column .simplecheckout-cart td.name .image {
    display: block;
}
.simplecheckout-scroll{
    overflow-y:scroll;
    max-height:300px;
}
.simplecheckout-error-text {
    display: block;
    margin-top: 3px;
    color: #FF0000;
}
.simplecheckout-warning-text {
    margin: 5px 0;
    font-weight: bold;
}
.simplecheckout-warning-block {
    clear: both;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    text-align: left;
}
.simpleregister-warning-block {
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    text-align: left;
}
.simplecheckout-proceed-payment {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#simple_payment_address_block {
    margin-top: 15px;
}
.simplecheckout-customer-same-address {
    text-align: left;
    margin: 15px 0px;
}
#simplecheckout_login {
    margin: auto;
    text-align: center;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
#simplecheckout_login .simplecheckout-block-content {
    padding: 5px !important;
}
#simple_login_layer {
    position:absolute;
    top:0;
    left:0;
    z-index:99990;
    display:none;
    width:100%;
    background-color:#000000;
}
#simple_login {
    position:fixed;
    z-index:99991;
    display: none;
    padding:5px;
    width:300px;
    height:250px;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background:none repeat scroll 0 0 #FFFFFF;
    -khtml-border-radius:7px 7px 7px 7px;
}
#simple_login:after {
    content:"";
    display:block;
    clear:both;
}
#simple_login_header {
    padding: 0px 0px;
    text-align: right;
}
#simple_login_header img {
    margin: 0 0 0 auto;
}
.you-will-be-registered {
    font-weight: bold;
    margin-bottom: 10px;
}
.simplecheckout label, .simpleregister label {
    display: inline-block !important;
    margin: 0;
}
.simplecheckout label input, .simpleregister label input {

}
#simple_summary {
    display: none;
}
#simplecheckout_step_menu {
    margin-bottom: 10px;
}
.simple-step {
    display: inline-block;
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #D9D9D9;
    color: #000000;
    font-size: 13px;
    -khtml-border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.simple-step-current {
    display: inline-block;
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #38B0E3;
    color: #FFFFFF;
    font-size: 13px;
    -khtml-border-radius: 5px 5px 5px 5px;
}
.simple-step-delimiter {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
    margin: 0px 5px;
}
.simple-step-completed {
    display: inline-block;
    padding: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #38B0E3;
    color: #FFFFFF;
    font-size: 13px;
    -khtml-border-radius: 5px 5px 5px 5px;
}
.simple-step-completed a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-size: 13px !important;
}
.simplecheckout-summary-info {
    margin-top: 15px !important;
}
.simplecheckout-summary-info th.name {
    text-align: left;
}
.simplecheckout-summary-info td {
    text-align: left;
}
.simplecheckout-cart-buttons .buttons {
    border: none !important;
    padding: 0 !important;
}
#simple_login .simplecheckout-block-content {
    border: none !important;
}
#temp_flat_container {
    text-align: center;
    margin: 10px 0px 20px 0px;
}
#simplecheckout_comment .simplecheckout-block-content {
    border: 0 !important;
    padding: 0 !important;
}
#simplecheckout_comment textarea {
    width: 100% !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100px;
}
.simple-content input[type=text],
.simple-content input[type=password],
.simple-content input[type=email],
.simple-content input[type=tel],
.simple-content input[type=phone],
.simple-content input[type=date],
.simple-content input[type=time],
.simple-content select,
.simple-content textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px !important;
}
.checkout-heading:after {
    content:"";
    display:block;
    clear:both;
}
.col-sm-12 .checkout-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.checkout-heading span {
    display: inline-block !important;
    float: left;
}
.checkout-heading-button {
    float: right !important;
    display: inline-block !important;
}
.simplecheckout-select-address {
    text-align: left;
    margin-bottom: 10px;
}
.simple-captcha-container {
    margin-top: 5px;
}
.simplecheckout-tooltip {
    display: none;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    opacity:1 !important;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:10px;
    top:-8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fde910;
}
.simplecheckout-cart i {
    cursor: pointer;
}

.simple-content .table-responsive{
    margin-bottom: 0 !important;
    border: none !important;
}

@media only screen and (max-width:640px) {
    .simplecheckout-cart col.image,.simplecheckout-cart th.image,.simplecheckout-cart td.image {
        display: none;
    }
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
    .simplecheckout-cart col.price,.simplecheckout-cart th.price,.simplecheckout-cart td.price {
        display: none;
    }
    .simplecheckout-cart td.name div.image {
        display: block;
    }
    
}
@media only screen and (max-width:1000px) {
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
}
@media only screen and (max-width:600px) {
    #total_shipping span:first-child {
        max-width: 300px;
        display: inline-block;
    }
    td.quantity button[data-onclick*="Quantity"] {
        display: none;
    }
}
@media only screen and (max-width:420px) {	
	.simplecheckout-cart_tovar .image {
		width: 90%;
	}
    #total_shipping span:first-child {
        max-width: 200px;
        display: inline-block;
    }
}
.row-customer_register .radio {
    display: inline-block !important;
    margin-right: 10px;
}
.simplecheckout-vertical-menu .checkout-heading {
    cursor: pointer;
    margin-bottom: 3px;
}
.simplecheckout-steps-wrapper {
    padding: 10px;
}
.simple-step-vertical-completed {
    
}
#agreement_checkbox {
    float: left;
    margin-right: 20px;
}
#agreement_checkbox .checkbox {
    margin: 0;
}
@media only screen and (max-width:320px) {	
	.simplecheckout-cart .simplecheckout-cart_tovar .quantity {
		width: 100%;
		height: 50px;
		}
	.simplecheckout-cart .simplecheckout-cart_tovar .total {
		width: 70%;
		height: 50px;
	}
	.simplecheckout-cart_tovar .total span {
		font-size: 30px;
	}
	.simplecheckout-cart .simplecheckout-cart_tovar .remove .btn.btn-danger {
		height: 50px;
	}	
#simplecheckout_summary .simplecheckout-cart-total span:nth-child(2) {
	font-size: 13px;
}
.simplecheckout-cart_tovar .total span {
	font-size: 20px;
}
#simplecheckout_cart #total_sub_total span:nth-child(2) {
font-size: 16px;
}
.simplecheckout-cart_tovar .name a {
    font-size: 16px;
}
}