<?php echo $header; ?>

<?php if($t1o_product_name_position ==2) { ?>
<div id="title_above_content" class="product_top_title">
<div class="container full-width-container">
<h1><?php echo $heading_title; ?></h1>
</div>
</div>
<?php } ?>

<div class="container full-width-container">
 <ul class="breadcrumb">
       <?php foreach ($breadcrumbs as $i=> $breadcrumb) { ?>
       <li><?php if($i+1<count($breadcrumbs)) { ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
       <?php }
       else { ?><?php echo $breadcrumb['text']; ?><?php } ?></li>
       <?php } ?>
   </ul>
      
   </ul>
  <?php if ($prev_prod_name) { ?>
  <div class="prev">
        <div class="prev-img">
        <a href="<?php echo $prev_prod_url; ?>" class="prev-img-link" title="<?php echo $prev_prod_name;?>">
        <img src="<?php echo $prev_prod_thumb; ?>" alt="<?php echo $prev_prod_name; ?>">
        <div class="prev-name"><?php echo $prev_prod_name;?></div>
        </a>
        </div>
        <div class="prev-arrow">
        <a href="<?php echo $prev_prod_url; ?>" title="<?php echo $prev_prod_name;?>" class="prev-arrow-link">
        <?php echo $t1o_text_previous_product[$lang_id]; ?>
        </a>
        </div> 
  </div>
  <?php } ?>
  <?php if ($next_prod_name) { ?>
  <div class="next">
        <div class="next-img">
        <a href="<?php echo $next_prod_url; ?>" class="next-img-link" title="<?php echo $next_prod_name;?>">
        <img src="<?php echo $next_prod_thumb; ?>" alt="<?php echo $next_prod_name; ?>">
        <div class="next-name"><?php echo $next_prod_name;?></div>
        </a> 
        </div>
        <div class="next-arrow">
        <a href="<?php echo $next_prod_url; ?>" title="<?php echo $next_prod_name;?>" class="next-arrow-link">
        <?php echo $t1o_text_next_product[$lang_id]; ?>
        </a>
        </div>
  </div>
  <?php } ?>
  
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?> product-page"><?php echo $content_top; ?>
    <?php if($t1o_product_name_position ==1) { ?>
    <h1><?php echo $heading_title; ?></h1>
    <?php } ?> 
      <div class="row">
      
        <?php if($t1o_layout_product_page == 1) { ?>    
        <div class="col-sm-6 product-left">
        <?php }
        if($t1o_layout_product_page == 2) { ?>      
        <div class="col-sm-4 product-left">
        <?php }
        if($t1o_layout_product_page == 3) { ?>      
        <div class="col-sm-7 product-left">
        <?php }
        if($t1o_layout_product_page == 4) { ?>      
        <div class="col-sm-12 product-left">
        <?php }
        if($t1o_layout_product_page == 5) { ?>      
        <div class="col-sm-4 product-left">
        <?php }
        if($t1o_layout_product_page == 6) { ?>      
        <div class="col-sm-3 product-left">
        <?php }
        if($t1o_layout_product_page == 7) { ?>      
        <div class="col-sm-5 product-left">
        <?php }
        if($t1o_layout_product_page == 8) { ?>      
        <div class="col-sm-9 product-left">
       
          <?php if($t1o_product_name_position ==0) { ?>
          <h1><?php echo $heading_title; ?></h1>
          <?php } ?>
        <?php }
        if($t1o_layout_product_page == 9) { ?>      
        <div class="col-sm-6 product-left">
        <?php }
        if($t1o_layout_product_page == 10) { ?>      
        <div class="col-sm-5 product-left">
        <?php }
        if($t1o_layout_product_page == 11) { ?>      
        <div class="col-sm-6 product-left">
        <?php }
        if($t1o_layout_product_page == 12) { ?>      
        <div class="col-sm-5 product-left">
        <?php }
        if($t1o_layout_product_page == 13) { ?>      
        <div class="col-sm-4 product-left">
        <?php } ?>
        
          <?php if ($thumb || $images) { ?>
          <?php if(($t1o_layout_product_page == 1) || ($t1o_layout_product_page == 2) || ($t1o_layout_product_page == 3) || ($t1o_layout_product_page == 4) || ($t1o_layout_product_page == 5) || ($t1o_layout_product_page == 6) || ($t1o_layout_product_page == 7) || ($t1o_layout_product_page == 11) || ($t1o_layout_product_page == 12) || ($t1o_layout_product_page == 13)) { ?>                  
          <ul class="thumbnails">
            <?php if ($thumb) { ?>
            <li class="image-main">
            <span class="badge-wrapper">    
            <?php if($t1o_sale_badge_status ==1) { ?>	
            <?php if (($special)&&($t1o_sale_badge_type == 0)) { ?> 
            <span class="badge sale"><?php echo $t1o_text_sale[$lang_id]; ?></span>
            <?php } ?> 
            <?php if (($special)&&($t1o_sale_badge_type == 1)) { ?> 
            <?php 
            $val1 = preg_replace("/[^0-9.]/", "", $special);
	        $val2 = preg_replace("/[^0-9.]/", "", $price);
            ?>
            <?php
            $res = ($val1 / $val2) * 100;
            $res = 100 - $res;
            $res = round($res, 0);
            ?>
            <span class="badge sale">-<?php echo $res; ?>%</span>
            <?php } ?> 
            <?php } ?>
            <?php if($t1o_new_badge_status ==1) { ?>	
            <?php
            $startDate1 = strtotime(mb_substr($newstart, 0, 10));
            $endDate2 = strtotime(date("Y-m-d"));
            $days = ceil(($endDate2 / 86400)) - ceil(($startDate1 /86400));
            ?>
            <?php $newproductdays = 30; ?>
            <?php if ($days < $newproductdays) { ?>
            <span class="badge new"><?php echo $t1o_text_new_prod[$lang_id]; ?></span>
            <?php } ?>
            <?php } ?>
            </span>    
            <a class="cloud-zoom thumbnail" href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" id='zoom1' rel="position:'inside', adjustX: 15, adjustY: 0, tint:'#ffffff', tintOpacity:0.1, smoothMove:3, showTitle:false">
            <img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" id="image" />
            </a>
            </li>
            <?php } ?>
          </ul>
          <div class="row">
          <ul class="image-additional-wrapper thumbnails">
            <?php if ($images) { ?>
            <li class="image-additional col-sm-12">
            <div>
            <a href='<?php echo $popup; ?>' title='<?php echo $heading_title; ?>' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '<?php echo $thumb; ?>' ">
            <img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" />
            </a>
            </div>  
            </li>
            <?php foreach ($images as $image) { ?>
            <li class="image-additional col-sm-12">
            <div>
            <a class="cloud-zoom-gallery" href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" rel="useZoom: 'zoom1', smallImage: '<?php echo $image['thumb']; ?>' ">
            <img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" />
            </a>
            </div>
            </li>
            <?php } ?>
            <?php } ?>
          </ul>
          </div>       
<script type="text/javascript"><!--
$('.image-additional-wrapper').owlCarousel({
	items: 3,
	itemsMobile: [479,2],
	singleItem: false,
	scrollPerPage: false,
	pagination: false,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
});
--></script>
          <?php } else { ?>           
          <ul class="thumbnails">      
            <div class="col-sm-2">         
            <?php if ($images) { ?>			
<div id="jcl-demo">			
	<div class="custom-container vertical">
     <?php if (count($images) > 3) { ?>   <a href="#" class="prev"><i class="fa fa-chevron-down"></i></a> <?php } ?>
        <div class="carousel">
            <ul>			
            <?php foreach ($images as $image) { ?>
            <li class="image-additional col-sm-12">
            <a class="cloud-zoom-gallery" href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" rel="useZoom: 'zoom1', smallImage: '<?php echo $image['thumb']; ?>' ">
            <img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" />
            </a>
            </li>
            <?php } ?>			
            </ul>
        </div>
     <?php if (count($images) > 3) { ?>   <a href="#" class="next"><i class="fa fa-chevron-up"></i></a><?php } ?>
        <div class="clear"></div>
    </div>			
     </div>             
            <?php } ?>
            </div>
            <div class="col-sm-10">
            <div class="col-sm-7 cartinka_a_har">
            <?php if ($thumb) { ?>
            <li class="image-main">
            <span class="badge-wrapper">    
            <?php if($t1o_sale_badge_status ==1) { ?>	
            <?php if (($special)&&($t1o_sale_badge_type == 0)) { ?> 
            <span class="badge sale"><?php echo $t1o_text_sale[$lang_id]; ?></span>
            <?php } ?> 
            <?php if (($special)&&($t1o_sale_badge_type == 1)) { ?> 
            <?php 
            $val1 = preg_replace("/[^0-9.]/", "", $special);
	          $val2 = preg_replace("/[^0-9.]/", "", $price);
            ?>
            <?php
            $res = ($val1 / $val2) * 100;
            $res = 100 - $res;
            $res = round($res, 0);
            ?>
            <span class="badge sale">-<?php echo $res; ?>%</span>
            <?php } ?> 
            <?php } ?>
            <?php if($t1o_new_badge_status ==1) { ?>	
            <?php
            $startDate1 = strtotime(mb_substr($newstart, 0, 10));
            $endDate2 = strtotime(date("Y-m-d"));
            $days = ceil(($endDate2 / 86400)) - ceil(($startDate1 /86400));
            ?>
            <?php $newproductdays = 30; ?>
            <?php if ($days < $newproductdays) { ?>
            <span class="badge new"><?php echo $t1o_text_new_prod[$lang_id]; ?></span>
            <?php } ?>
            <?php } ?>
            </span>
            <a class="cloud-zoom thumbnail" href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" id='zoom1' rel="position:'inside', adjustX: 10, adjustY: 0, tint:'#ffffff', tintOpacity:0.1, smoothMove:3, showTitle:false">
            <img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" id="image" />
            </a>
            </li>
            <?php } ?>
            </div> 
            <div id="obzh_haracts" class="col-sm-5">
            </div> 
            </div> 
          </ul>
          <div class="col-sm-12">
          <ul class="mobile_carus_prode image-additional-wrapper thumbnails">
            <?php if ($images) { ?>
            <?php foreach ($images as $image) { ?>
            <li class="image-additional col-sm-12">
            <div>
            <a class="cloud-zoom-gallery" href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" rel="useZoom: 'zoom1', smallImage: '<?php echo $image['thumb']; ?>' ">
            <img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" />
            </a>
            </div>
            </li>
            <?php } ?>
            <?php } ?>
          </ul>
          </div> 

<script type="text/javascript">
(function($) {
    $(window).on('load', function() {
        $(".carousel").jCarouselLite({
            btnNext: ".vertical .next",
            btnPrev: ".vertical .prev",
            vertical: true
        });
    });
})(jQuery);
          </script>
  <script type="text/javascript"><!--
$('.image-additional-wrapper').owlCarousel({
	items: 3,
	itemsMobile: [479,3],
	singleItem: false,
	scrollPerPage: false,
	pagination: false,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
});
--></script>        
          <?php } ?>
          <?php } ?>
        
        <?php if($t1o_product_custom_block_1_status == 1) { ?>
          <div class="product-under-image-custom-block">
          <?php if($t1o_product_custom_block_1_title[$lang_id]) { ?>
          <legend><?php echo $t1o_product_custom_block_1_title[$lang_id]; ?></legend>
          <?php } ?>
          <?php echo html_entity_decode($t1o_product_custom_block_1_content[$lang_id], ENT_QUOTES, 'UTF-8');?>    
          </div>
        <?php } ?> 
          
        </div>
        
        <?php if($t1o_layout_product_page == 1) { ?>    
        <div class="col-sm-6 product-buy">
        <?php }
        if($t1o_layout_product_page == 2) { ?>      
        <div class="col-sm-8 product-buy">
        <?php }
        if($t1o_layout_product_page == 3) { ?>      
        <div class="col-sm-5 product-buy">
        <?php }
        if($t1o_layout_product_page == 4) { ?>      
        <div class="col-sm-12 product-buy">
        <?php }
        if($t1o_layout_product_page == 5) { ?>      
        <div class="col-sm-5 product-buy">
        <?php }
        if($t1o_layout_product_page == 6) { ?>      
        <div class="col-sm-6 product-buy">
        <?php }
        if($t1o_layout_product_page == 7) { ?>      
        <div class="col-sm-3 product-buy">
        <?php }
        if($t1o_layout_product_page == 8) { ?>      
        <div class="col-sm-3 product-buy">
        <?php }
        if($t1o_layout_product_page == 9) { ?>      
        <div class="col-sm-6 product-buy">
        <?php }
        if($t1o_layout_product_page == 10) { ?>      
        <div class="col-sm-4 product-buy">
        <?php }
        if($t1o_layout_product_page == 11) { ?>      
        <div class="col-sm-6 product-buy">
        <?php }
        if($t1o_layout_product_page == 12) { ?>      
        <div class="col-sm-7 product-buy">
        <?php }
        if($t1o_layout_product_page == 13) { ?>      
        <div class="col-sm-5 product-buy">
        <?php } ?>
        
        <div class="product-buy-wrapper">
       <?php if ($price) { ?>
          <ul class="list-unstyled pp">
            <?php if (!$special) { ?>
            <li>
              <h2><span class="price-reg <?php if ($product_info['quantity'] < 1) {echo 'no_sklad';} ?>"><?php echo $price; ?></span></h2>
			  <?php if (!$logged) { ?>
				<div class="custom__speciale"><a style="text-decoration:none;color: #ff0000;" href="/simpleregister/">получи скидку 2%</a> <a class="links__toltips" href="/simpleregister/"><span tooltip="Зарегистрируйтесь и получите скидку на все товары">?</span></a></div>
			  <?php } ?>
            </li>
            <?php } else { ?>
            <li class="product-special-price pc_wersion">
              <div class="row">
              <div class="col-md-12 news-prices">
              <h2 class="price-h <?php if ($product_info['quantity'] < 1) {echo 'no_sklad';} ?>"><span class="price-new"><?php echo $special; ?></span></h2>
              </div>
              <div class="col-md-6 olds-pric">
              <h2 class="price-h"><span class="price-old"><?php echo $price; ?></span></h2>
              </div>
              <div class="col-md-6 econom-pric">
              <h2 class="price-h"><span class="save-percent"><p>Выгода</p><p><?php echo $pricer; ?> <?php echo $pricerc; ?></p></span></h2>
              </div>
              </div>
            </li>
            <?php } ?>
            <?php if($t1o_product_tax_status ==1) { ?>
            <?php if ($tax) { ?>
            <li><?php echo $text_tax; ?> <?php echo $tax; ?></li>
            <?php } ?>
            <?php } ?>
            <?php if ($points) { ?>
            <li><?php echo $text_points; ?> <?php echo $points; ?></li>
            <?php } ?>
            <?php if ($discounts) { ?>
            <?php foreach ($discounts as $discount) { ?>
            <li><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></li>
            <?php } ?>
            <?php } ?>
          </ul>
          <?php } ?>
          
        <?php if($t1o_layout_product_page == 13) { ?>
        <?php echo $description; ?>
        </div>
        </div>
        <div class="col-sm-3 product-buy">
        <div class="product-buy-wrapper">
        <?php } ?>
          
          <?php if($t1o_product_custom_block_2_status == 1) { ?>
            <div class="product-buy-custom-block">
            <?php if($t1o_product_custom_block_2_title[$lang_id]) { ?>
            <legend><?php echo $t1o_product_custom_block_2_title[$lang_id]; ?></legend>
            <?php } ?> 
            <?php echo html_entity_decode($t1o_product_custom_block_2_content[$lang_id], ENT_QUOTES, 'UTF-8');?>    
            </div>
          <?php } ?>   
        
          <div id="product">
            <?php if ($options) { ?>
            <legend><?php echo $text_option; ?></legend>
            <?php foreach ($options as $option) { ?>
            <?php if ($option['type'] == 'select') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                <?php if ($option_value['price']) { ?>
                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                <?php } ?>
                </option>
                <?php } ?>
              </select>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'radio') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php if ($option_value['image']) { ?>
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> 
                    <?php } ?>                    
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php if ($option_value['image']) { ?>
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> 
                    <?php } ?>
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group date">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group datetime">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group time">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php } ?>
            <?php } ?>
            <?php if ($recurrings) { ?>
            <hr />
            <h3><?php echo $text_payment_recurring; ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id']; ?>"><?php echo $recurring['name']; ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
            <div class="form-group">
              <div class="qty">
              <label class="control-label" for="input-quantity"><?php echo $entry_qty; ?></label>
              
              <?php if($t1o_product_i_c_status ==1) { ?>   
              <input type="button" class="dec" value=" - " />
              <?php } ?>
              <input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control i-d-quantity" />
              <?php if($t1o_product_i_c_status ==1) { ?>
              <input type="button" class="inc" value=" + " />
              <?php } ?>
              <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
              
     
              
			  
			  <?php if ($product_info['quantity'] < 1) { ?>
			<button type="button" class="btn btn-primary cart null_in_skl"><span>Нет в наличии</span></button>
			<?php } else { ?>
			<button type="button" id="button-cart" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><i class="fa fa-shopping-bag"></i> <?php echo $button_cart; ?></button>
			<?php } ?>
			<a href="javascript: void(0);" onclick="get_popup_purchase(<?php echo $product_id; ?>); return false" class="smch_call_button btn btn-primary btn-lg btn-block btn btn-primary btn-lg product-btn-cart" ><?php if ($product_info['quantity'] < 1) { ?>Предзаказ<?php } else { ?>Купить в один клик<?php } ?></a> 
              </div>
              <div id="1clacks">
              </div> 
			  
<div class="mobile_cartse">
	<div class="mobile_cartse_left">		  
			   <?php if ($price) { ?>
          <ul class="list-unstyled pp">
            <?php if (!$special) { ?>
            <li>
              <h2><span class="price-reg"><?php echo $price; ?></span></h2>
            </li>
            <?php } else { ?>
            <li class="product-special-price">
              <h2 class="price-h"><span class="price-new"><?php echo $special; ?></span></h2>
			  <h2 class="price-h-oldes"><span class="price-old"><?php echo $price; ?></span></h2>
            </li>
            <?php } ?>
          </ul>
          <?php } ?>
	</div>	  
	<div class="mobile_cartse_right">
		  
					<button type="button" id="button-cart" class="btn btn-primary" onclick="$('#button-cart').trigger('click');"><i class="fa fa-shopping-bag"></i> <?php echo $button_cart; ?></button>
	</div>
 </div>
            </div>
            <?php if ($minimum > 1) { ?>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
            <?php } ?>
          </div>
          
<div class="card-info__logistic logistic">
	<ul class="logistic__list">
		<li class="logistic__item--stock"><span><?php echo $stock; ?></span></li>
		<li class="logistic__item logistic__item--pickup">
			<noindex><a id="ts-choose-pickup-button-in-checkout"
href="https://opto.by/samovivoz" rel="nofollow" data-ng-click="product.reserveItem(1363135, 'pickup', {price_targets: [&quot;&quot;] })"  class="clickmodal"><span>Самовывоз  — </span><b>сегодня, бесплатно</b></a></noindex>
		</li>
		<li class="logistic__item logistic__item--delivery">
			<noindex><a href="https://opto.by/dostavka" rel="nofollow"  class="clickmodal"><span>Доставка курьером 
по Минску — </span><b>бесплатно</b></a></noindex>
		</li>
	</ul>
</div>
          
        </div>
		<div class="form-group knopki_s">
              <button type="button" data-toggle="tooltip" class="btn btn-default wcs" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product_id; ?>');"><i class="fa fa-heart"></i> В избранное</button>
              <button type="button" data-toggle="tooltip" class="btn btn-default wcs" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product_id; ?>');"><i class="fa fa-retweet"></i> К сравнению</button>
            <?php function curPageURL() {
              if (!empty($_SERVER['HTTPS'])) {
                $pref = 'https';
              } else {
                $pref = 'http';
              }
              $pageURL = $pref."://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
              return urlencode($pageURL);
            } ?>
            <a class="btn btn-default wcs" data-toggle="tooltip" title="<?php echo $t1o_text_product_friend[$lang_id]; ?>" href="mailto:enterfriend@addresshere.com?subject=<?php echo $heading_title; ?>&body=<?php echo $heading_title; ?>: <?php echo curPageURL(); ?>"><i class="fa fa-envelope"></i> Следить</a>
        </div>
        </div>
 
        
        <?php if(($t1o_layout_product_page == 5) || ($t1o_layout_product_page == 6) || ($t1o_layout_product_page == 7) || ($t1o_layout_product_page == 10)) { ?>	
        <div class="col-sm-3 product-right-sm hidden-xs">
        
        <?php if (($manufacturer) && ($t1o_product_manufacturer_logo_status ==1)) { ?>  
          <div class="product-right-sm-logo">   
            <?php if ($manufacturers_img) { ?>
            <a href="<?php echo $manufacturers; ?>"><?php echo ($manufacturers_img) ? '<img src="'.$manufacturers_img.'" title="'.$manufacturers.'" alt="'.$manufacturers.'" />' : $manufacturers ;?></a>
            <?php } ?>
            <a class="see-all btn btn-default" href="<?php echo $manufacturers; ?>"><span class="hidden-sm"><?php echo $t1o_text_see_all_products_by[$lang_id]; ?><br /></span><?php echo $manufacturer; ?></a>
          </div> 
        <?php } ?> 

        <?php if($t1o_product_custom_block_3_status == 1) { ?>
          <div class="product-right-sm-custom">
            <?php if($t1o_product_custom_block_3_title[$lang_id]) { ?>
            <legend><?php echo $t1o_product_custom_block_3_title[$lang_id]; ?></legend>
            <?php } ?>
            <?php echo html_entity_decode($t1o_product_custom_block_3_content[$lang_id], ENT_QUOTES, 'UTF-8');?>    
          </div>
        <?php } ?> 

    
    <?php if(($t1o_product_fb1_title[$lang_id]) || ($t1o_product_fb2_title[$lang_id]) || ($t1o_product_fb3_title[$lang_id])) { ?>
    <div class="product-right-sm-info">
    
<?php if($t1o_product_fb1_title[$lang_id]) { ?>
<div class="theme-modal">
<a href="#" data-toggle="modal" data-target="#modal-product-fb1">
<div class="product-right-sm-info-content">
      <span class="p-icon">
        <?php if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] != 'off') {
	        $path_image = $config_ssl . 'image/';
        } else {
        	$path_image = $config_url . 'image/';
        }
        if ($t1o_product_fb1_icon != ''){ ?>   
		<img src="<?php echo $path_image . $t1o_product_fb1_icon ?>" alt="+" title="+">
        <?php } else if($t1o_product_fb1_awesome !='') { ?>
        <i class="fa fa-<?php echo $t1o_product_fb1_awesome; ?>"></i>
        <?php } else { ?>
        <i class="fa fa-paper-plane"></i>
		<?php } ?>
        <i class="fa fa-search"></i>
      </span>
<span class="p-title"><?php echo $t1o_product_fb1_title[$lang_id]; ?></span>
<?php if($t1o_product_fb1_subtitle) { ?>
<span class="p-subtitle"><?php echo $t1o_product_fb1_subtitle[$lang_id]; ?></span>
<?php } ?>
</div>
</a>
<div class="modal fade" id="modal-product-fb1" tabindex="-1" role="dialog" aria-labelledby="modal-product-fb1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="content-product-fb">
        <h2><?php echo $t1o_product_fb1_title[$lang_id]; ?> <?php echo $t1o_product_fb1_subtitle[$lang_id]; ?></h2>
        <?php echo html_entity_decode($t1o_product_fb1_content[$lang_id], ENT_QUOTES, 'UTF-8');?>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<?php } ?>
    
<?php if($t1o_product_fb2_title[$lang_id]) { ?>
<div class="theme-modal">
<a href="#" data-toggle="modal" data-target="#modal-product-fb2">
<div class="product-right-sm-info-content">
      <span class="p-icon">
        <?php if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] != 'off') {
	        $path_image = $config_ssl . 'image/';
        } else {
        	$path_image = $config_url . 'image/';
        }
        if ($t1o_product_fb2_icon != ''){ ?>   
		<img src="<?php echo $path_image . $t1o_product_fb2_icon ?>" alt="+" title="+">
        <?php } else if($t1o_product_fb2_awesome !='') { ?>
        <i class="fa fa-<?php echo $t1o_product_fb2_awesome; ?>"></i>
        <?php } else { ?>
        <i class="fa fa-paper-plane"></i>
		<?php } ?>
        <i class="fa fa-search"></i>
      </span>
<span class="p-title"><?php echo $t1o_product_fb2_title[$lang_id]; ?></span>
<?php if($t1o_product_fb2_subtitle) { ?>
<span class="p-subtitle"><?php echo $t1o_product_fb2_subtitle[$lang_id]; ?></span>
<?php } ?>
</div>
</a>
<div class="modal fade" id="modal-product-fb2" tabindex="-1" role="dialog" aria-labelledby="modal-product-fb2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="content-product-fb">
        <h2><?php echo $t1o_product_fb2_title[$lang_id]; ?> <?php echo $t1o_product_fb2_subtitle[$lang_id]; ?></h2>
        <?php echo html_entity_decode($t1o_product_fb2_content[$lang_id], ENT_QUOTES, 'UTF-8');?>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<?php } ?>
    
<?php if($t1o_product_fb3_title[$lang_id]) { ?>
<div class="theme-modal">
<a href="#" data-toggle="modal" data-target="#modal-product-fb3">
<div class="product-right-sm-info-content">
      <span class="p-icon">
        <?php if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] != 'off') {
	        $path_image = $config_ssl . 'image/';
        } else {
        	$path_image = $config_url . 'image/';
        }
        if ($t1o_product_fb3_icon != ''){ ?>   
		<img src="<?php echo $path_image . $t1o_product_fb3_icon ?>" alt="+" title="+">
        <?php } else if($t1o_product_fb3_awesome !='') { ?>
        <i class="fa fa-<?php echo $t1o_product_fb3_awesome; ?>"></i>
        <?php } else { ?>
        <i class="fa fa-paper-plane"></i>
		<?php } ?>
        <i class="fa fa-search"></i>
      </span>
<span class="p-title"><?php echo $t1o_product_fb3_title[$lang_id]; ?></span>
<?php if($t1o_product_fb3_subtitle) { ?>
<span class="p-subtitle"><?php echo $t1o_product_fb3_subtitle[$lang_id]; ?></span>
<?php } ?>
</div>
</a>
<div class="modal fade" id="modal-product-fb3" tabindex="-1" role="dialog" aria-labelledby="modal-product-fb3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="content-product-fb">
        <h2><?php echo $t1o_product_fb3_title[$lang_id]; ?> <?php echo $t1o_product_fb3_subtitle[$lang_id]; ?></h2>
        <?php echo html_entity_decode($t1o_product_fb3_content[$lang_id], ENT_QUOTES, 'UTF-8');?>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<?php } ?>
    
    </div>  
    <?php } ?>
    
<?php if ($products) { ?>
<?php if (($t1o_product_related_status == 1) && ($t1o_product_related_position == 0)) { ?>  
<div class="product-right-sm-related panel panel-default">
<div class="panel-heading"><?php echo $text_related; ?></div>   
<div class="product-right-sm-related-carousel product-grid <?php echo $t1o_category_prod_box_style; ?> owl-carousel">       
    <?php foreach ($products as $product) { ?> 
    <div class="item product-thumb">
      <div class="image">
      <span class="badge-wrapper">
            <?php if($t1o_sale_badge_status ==1) { ?>	
            <?php if (($product['special'])&&($t1o_sale_badge_type == 0)) { ?>
            <span class="badge sale"><?php echo $t1o_text_sale[$lang_id]; ?></span>
            <?php } ?> 
            <?php if (($product['special'])&&($t1o_sale_badge_type == 1)) { ?>
            <?php 
            $val1 = preg_replace("/[^0-9.]/", "", $product['special']);
	        $val2 = preg_replace("/[^0-9.]/", "", $product['price']);
            ?>
            <?php
            $res = ($val1 / $val2) * 100;
            $res = 100 - $res;
            $res = round($res, 0);
            ?>
            <span class="badge sale">-<?php echo $res; ?>%</span>
            <?php } ?> 
            <?php } ?> 
      
            <?php if($t1o_new_badge_status ==1) { ?>	
            <?php
            $startDate1 = strtotime(mb_substr($product['newstart'], 0, 10));
            $endDate2 = strtotime(date("Y-m-d"));
            $days = ceil(($endDate2 / 86400)) - ceil(($startDate1 /86400));
            ?>
            <?php $newproductdays = 30; ?>
            <?php if ($days < $newproductdays) { ?>
            <span class="badge new"><?php echo $t1o_text_new_prod[$lang_id]; ?></span>
            <?php } ?>
            <?php } ?>
            </span>
            
            <?php if($t1o_category_prod_box_style =='product-box-style-3') { ?>
            <div class="flybar-top">  
            <div class="flybar-top-items">
            <p class="description"><?php echo $product['description']; ?></p>
            <div class="rating">
              <?php for ($i = 1; $i <= 5; $i++) { ?>
              <?php if ($product['rating'] < $i) { ?>
              <span class="fa fa-stack fa-g"><i class="fa fa-star fa-stack-2x"></i></span>
              <?php } else { ?>
              <span class="fa fa-stack fa-y"><i class="fa fa-star fa-stack-2x"></i></span>
              <?php } ?>
              <?php } ?>
            </div>
            </div>   
            </div>
            <?php } ?>
            
            <div class="flybar">  
            <div class="flybar-items">
            <button type="button" data-toggle="tooltip" title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" class="btn btn-primary"><i class="fa fa-shopping-bag"></i></button>
            <a class="btn btn-default quickview" href="<?php echo $product['quickview']; ?>" data-toggle="tooltip" title="<?php echo $t1o_text_quickview[$lang_id]; ?>"><i class="fa fa-search"></i></a>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" class="wishlist"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');" class="compare"><i class="fa fa-retweet"></i></button>
            </div>   
            </div>
        <?php if ($product['thumb_swap']) { ?>
        <a href="<?php echo $product['href']; ?>">
        <img class="img-responsive img-<?php echo $t1d_img_style; ?>" src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" />
        <img class="thumb_swap img-responsive img-<?php echo $t1d_img_style; ?>" src="<?php echo $product['thumb_swap']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" />
        </a>
        <?php } else {?>
        <a href="<?php echo $product['href']; ?>"><img class="img-responsive img-<?php echo $t1d_img_style; ?>" src="<?php echo $product['thumb']; ?>" title="<?php echo $product['name']; ?>" alt="<?php echo $product['name']; ?>" /></a>
        <?php } ?> 
      </div>
      <div class="caption">  
        <div class="name"><h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4></div>
        <div class="product_box_brand"><?php if ($product['brand']) { ?><a href="<?php echo $product['brand_url']; ?>"><?php echo $product['brand']; ?></a><?php } ?></div>
                <div class="rating">
                  <?php for ($i = 1; $i <= 5; $i++) { ?>
                  <?php if ($product['rating'] < $i) { ?>
                  <span class="fa fa-stack fa-g"><i class="fa fa-star fa-stack-2x"></i></span>
                  <?php } else { ?>
                  <span class="fa fa-stack fa-y"><i class="fa fa-star fa-stack-2x"></i></span>
                  <?php } ?>
                  <?php } ?>
                </div>
                <?php if ($product['price']) { ?>
                <p class="price">
                  <?php if (!$product['special']) { ?>
                  <?php echo $product['price']; ?>
                  <?php } else { ?>
                  <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                  <?php } ?>
                </p>
                <?php } ?>
                <div class="product-list-buttons">
                  <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" class="btn btn-primary cart"><i class="fa fa-shopping-bag"></i> <span><?php echo $button_cart; ?></span></button>
                  <a class="btn btn-default quickview list-quickview" href="<?php echo $product['quickview']; ?>" data-toggle="tooltip" title="<?php echo $t1o_text_quickview[$lang_id]; ?>"><i class="fa fa-search"></i></a>
                  <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" class="btn btn-default list-wishlist"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');" class="btn btn-default list-compare"><i class="fa fa-retweet"></i></button>
                </div>
      </div>            
    </div>
    <?php } ?>
</div>  
<script type="text/javascript"><!--
$('.product-right-sm-related-carousel').owlCarousel({
	items: 1,
	autoPlay: 5000,
	singleItem: true,
	pagination: false,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
});
--></script>
</div>    
<?php } ?>
<?php } ?>     
  
        
        </div>
        <?php } ?>
        
      </div>
      
      <div id="product-tabs" class="row content-padd">
        <div class="col-sm-9">
        <ul class="nav nav-tabs">
            <?php if($t1o_layout_product_page != 13) { ?>
            <?php if((empty($description)) || ($description=='<br>')) { ?><?php } else { ?>
            <li class="active"><a href="#tab-description" data-toggle="tab"><?php echo $tab_description; ?></a></li>
            <?php } ?>
            <?php } ?>
            <?php if ($attribute_groups) { ?>
            <li><a href="#tab-specification" data-toggle="tab"><?php echo $tab_attribute; ?></a></li>
            <?php } ?>
            <?php if ($review_status) { ?>
            <li <?php if(((empty($description)) || ($description=='<br>')) && (!$attribute_groups)) {echo 'class="active"';} ?>><a href="#tab-review" data-toggle="tab"><?php echo $tab_review; ?></a></li>
            <?php } ?>
            <?php for ($i = 1; $i <= 3; $i++) { ?>
            <?php if($t1o_product_custom_tab[$i]['status'] == 1 && $t1o_product_custom_tab[$i][$lang_id]['title'] !='') { ?>
            <li><a href="#tab-custom<?php echo $i; ?>" data-toggle="tab"><?php echo $t1o_product_custom_tab[$i][$lang_id]['title']; ?></a></li>
            <?php } ?>
            <?php } ?> 
          </ul>
          <div class="tab-content">
            <?php if($t1o_layout_product_page != 13) { ?>
            <div class="fade in tab-pane active" id="tab-description"><?php echo $description; ?></div>
            <?php } ?> 
            <?php if ($attribute_groups) { ?>
            <div class="fade in tab-pane" id="tab-specification">
              <table class="table table-bordered">
                <?php foreach ($attribute_groups as $attribute_group) { ?>
                <thead <?php if ($attribute_group['name'] == 'Общие характеристики' || $attribute_group['name'] == 'Технические характеристики') { echo 'id="obzh_haract"';} ?>>
                  <tr>
                    <td colspan="2" class="names_attrb"><strong><?php echo $attribute_group['name']; ?></strong></td>
                  </tr>
                </thead>
                <tbody <?php if ($attribute_group['name'] == 'Общие характеристики' || $attribute_group['name'] == 'Технические характеристики') { echo 'id="obzh_haract1"';} ?>>
                  <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                  <tr class="names_attrb_str">
                    <td><?php echo $attribute['name']; ?></td>
                    <td><?php echo $attribute['text']; ?></td>
                  </tr>
                  <?php } ?>
                </tbody>
				
                <?php } ?>
              </table>
			  <?php echo $warrantyInfoHTML; ?>
            </div>
            <?php } ?>
			<script>
			$("#obzh_haract").clone().appendTo("#obzh_haracts");
			$("#obzh_haract1").clone().appendTo("#obzh_haracts");
			</script>
            <?php if ($review_status) { ?>
            <div class="<?php if(((empty($description)) || ($description=='<br>')) && (!$attribute_groups)) {echo 'fade in tab-pane active';} else {echo 'fade tab-pane';} ?>" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2><?php echo $text_write; ?></h2>
                <?php if ($review_guest) { ?>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                    <input type="text" name="name" value="<?php echo $customer_name; ?>" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><?php echo $text_note; ?></div>
                  </div>
                </div>
                <div class="form-group required raitingers">
                  <div class="col-sm-12">
                    <label class="control-label raitingers_name"><?php echo $entry_rating; ?></label>
                    &nbsp;&nbsp;&nbsp; <?php echo $entry_bad; ?>&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;<?php echo $entry_good; ?></div>
                </div>
                <?php echo $captcha; ?>
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><?php echo $button_continue; ?></button>
                  </div>
                </div>
                <?php } else { ?>
                <?php echo $text_login; ?>
                <?php } ?>
              </form>
            </div>
            <?php } ?>
            
            <?php for ($i = 1; $i <= 3; $i++) { ?>
            <?php if($t1o_product_custom_tab[$i]['status'] == 1 && $t1o_product_custom_tab[$i][$lang_id]['title'] !='') { ?>
            <div class="fade tab-pane" id="tab-custom<?php echo $i; ?>">
            <?php echo html_entity_decode($t1o_product_custom_tab[$i][$lang_id]['content'], ENT_QUOTES, 'UTF-8');?>
            </div>
            <?php } ?>
            <?php } ?> 
            
          </div>
        </div>
		
		
		
<div id="aside1" class="col-sm-3 product-buy">
       <div class="product-buy-wrapper">
		<img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" id="image" />
		<h2><?php echo $heading_title; ?></h2>
       <?php if ($price) { ?>
          <ul class="list-unstyled pp">
            <?php if (!$special) { ?>
            <li>
              <h2><span class="price-reg <?php if ($product_info['quantity'] < 1) {echo 'no_sklad';} ?>"><?php echo $price; ?></span></h2>
            </li>
            <?php } else { ?>
            <li class="product-special-price">
              <div class="row">
              <div class="col-md-12 news-prices">
              <h2 class="price-h"><span class="price-new <?php if ($product_info['quantity'] < 1) {echo 'no_sklad';} ?>"><?php echo $special; ?></span></h2>
              </div>
              <div class="col-md-6 olds-pric">
              <h2 class="price-h"><span class="price-old"><?php echo $price; ?></span></h2>
              </div>
              <div class="col-md-6 econom-pric">
              <h2 class="price-h"><span class="save-percent"><p>Выгода</p><p><?php echo $pricer; ?> <?php echo $pricerc; ?></p></span></h2>
              </div>
              </div>
            </li>
            <?php } ?>
            <?php if($t1o_product_tax_status ==1) { ?>
            <?php if ($tax) { ?>
            <li><?php echo $text_tax; ?> <?php echo $tax; ?></li>
            <?php } ?>
            <?php } ?>
            <?php if ($points) { ?>
            <li><?php echo $text_points; ?> <?php echo $points; ?></li>
            <?php } ?>
            <?php if ($discounts) { ?>
            <?php foreach ($discounts as $discount) { ?>
            <li><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></li>
            <?php } ?>
            <?php } ?>
          </ul>
          <?php } ?>
		  <div id="product">
            <?php if ($options) { ?>
            <legend><?php echo $text_option; ?></legend>
            <?php foreach ($options as $option) { ?>
            <?php if ($option['type'] == 'select') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                <?php if ($option_value['price']) { ?>
                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                <?php } ?>
                </option>
                <?php } ?>
              </select>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'radio') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php if ($option_value['image']) { ?>
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> 
                    <?php } ?>                    
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php if ($option_value['image']) { ?>
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> 
                    <?php } ?>
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group date">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group datetime">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group time">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php } ?>
            <?php } ?>
            <?php if ($recurrings) { ?>
            <hr />
            <h3><?php echo $text_payment_recurring; ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id']; ?>"><?php echo $recurring['name']; ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
            <div class="form-group">
              <div class="qty">
              <label class="control-label" for="input-quantity"><?php echo $entry_qty; ?></label>
              
              <?php if($t1o_product_i_c_status ==1) { ?>   
              <input type="button" class="dec" value=" - " />
              <?php } ?>
              <input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control i-d-quantity" />
              <?php if($t1o_product_i_c_status ==1) { ?>
              <input type="button" class="inc" value=" + " />
              <?php } ?>
              <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
              
				
				
				<?php if ($product_info['quantity'] < 1) { ?>
			<button type="button" class="btn btn-primary cart null_in_skl"><span>Нет в наличии</span></button>
			<?php } else { ?>
			<button type="button" id="button-cart" class="btn btn-primary" onclick="$('#button-cart').trigger('click');"><i class="fa fa-shopping-bag"></i> <?php echo $button_cart; ?></button>
			<?php } ?>
				
              
              </div>
              <button class="smch_call_button btn btn-primary btn-lg btn-block btn btn-primary btn-lg product-btn-cart" onclick="getOCwizardModal_smch('<?php echo $product_id; ?>')">Купить в один клик</button>
            </div>
            <?php if ($minimum > 1) { ?>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
            <?php } ?>
          </div>
          
</div>
</div>		
		
		
		
      </div>
      
    
      
      <?php if ($products) { ?>
      <?php if (($t1o_product_related_status == 1) && ($t1o_product_related_position == 1)) { ?>
      <div id="product-related">
      <h2><?php echo $text_related; ?></h2>
      <div class="row product-slider">
      <div class="product-items product-items-related">
        <?php foreach ($products as $product) { ?>
          
          <?php if($t1o_product_related_style ==1) { ?>
          <div class="product-layout-slider product-grid col-xs-12">
          <?php } else { ?>
          <div class="product-layout-grid product-grid col-xs-12">
          <?php } ?>

          <div class="product-thumb">

            <div class="image">
            <span class="badge-wrapper">
            <?php if($t1o_sale_badge_status ==1) { ?>	
            <?php if (($product['special'])&&($t1o_sale_badge_type == 0)) { ?>
            <span class="badge sale"><?php echo $t1o_text_sale[$lang_id]; ?></span>
            <?php } ?> 
            <?php if (($product['special'])&&($t1o_sale_badge_type == 1)) { ?>
            <?php 
            $val1 = preg_replace("/[^0-9.]/", "", $product['special']);
	        $val2 = preg_replace("/[^0-9.]/", "", $product['price']);
            ?>
            <?php
            $res = ($val1 / $val2) * 100;
            $res = 100 - $res;
            $res = round($res, 0);
            ?>
            <span class="badge sale">-<?php echo $res; ?>%</span>
            <?php } ?> 
            <?php } ?> 
            <?php if($t1o_new_badge_status ==1) { ?>	
            <?php
            $startDate1 = strtotime(mb_substr($product['newstart'], 0, 10));
            $endDate2 = strtotime(date("Y-m-d"));
            $days = ceil(($endDate2 / 86400)) - ceil(($startDate1 /86400));
            ?>
            <?php $newproductdays = 30; ?>
            <?php if ($days < $newproductdays) { ?>
            <span class="badge new"><?php echo $t1o_text_new_prod[$lang_id]; ?></span>
            <?php } ?>
            <?php } ?>
            </span>
            
            <?php if($t1o_category_prod_box_style =='product-box-style-3') { ?>
            <div class="flybar-top">  
            <div class="flybar-top-items">
            <p class="description"><?php echo $product['description']; ?></p>
            <div class="rating">
              <?php for ($i = 1; $i <= 5; $i++) { ?>
              <?php if ($product['rating'] < $i) { ?>
              <span class="fa fa-stack fa-g"><i class="fa fa-star fa-stack-2x"></i></span>
              <?php } else { ?>
              <span class="fa fa-stack fa-y"><i class="fa fa-star fa-stack-2x"></i></span>
              <?php } ?>
              <?php } ?>
            </div>
            </div>   
            </div>
            <?php } ?>
            
            <div class="flybar">  
            <div class="flybar-items">
            <button type="button" data-toggle="tooltip" title="<?php echo $button_cart; ?>" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" class="btn btn-primary"><i class="fa fa-shopping-bag"></i></button>
            <a class="btn btn-default quickview" href="<?php echo $product['quickview']; ?>" data-toggle="tooltip" title="<?php echo $t1o_text_quickview[$lang_id]; ?>"><i class="fa fa-search"></i></a>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" class="wishlist"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');" class="compare"><i class="fa fa-retweet"></i></button>
            </div>   
            </div>
            <?php if ($product['thumb_swap']) { ?>
            <a href="<?php echo $product['href']; ?>">
            <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" />
            <img src="<?php echo $product['thumb_swap']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive thumb_swap img-<?php echo $t1d_img_style; ?>" />
            </a>
            <?php } else {?>
            <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive img-<?php echo $t1d_img_style; ?>" /></a>
            <?php } ?> 
            </div>
            <div>
            
              <div class="caption">
                <div class="name"><h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4></div> 
                <div class="product_box_brand"><?php if ($product['brand']) { ?><a href="<?php echo $product['brand_url']; ?>"><?php echo $product['brand']; ?></a><?php } ?></div>
                <p class="description"><?php echo $product['description']; ?></p>
                <div class="rating">
                  <?php for ($i = 1; $i <= 5; $i++) { ?>
                  <?php if ($product['rating'] < $i) { ?>
                  <span class="fa fa-stack fa-g"><i class="fa fa-star fa-stack-2x"></i></span>
                  <?php } else { ?>
                  <span class="fa fa-stack fa-y"><i class="fa fa-star fa-stack-2x"></i></span>
                  <?php } ?>
                  <?php } ?>
                </div>
                <?php if ($product['price']) { ?>
                <p class="price">
                  <?php if (!$product['special']) { ?>
                  <?php echo $product['price']; ?>
                  <?php } else { ?>
                  <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                  <?php } ?>
                </p>
                <?php } ?>
                <div class="product-list-buttons">
                  <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" class="btn btn-primary cart"><i class="fa fa-shopping-bag"></i> <span><?php echo $button_cart; ?></span></button>
                  <a class="btn btn-default quickview list-quickview" href="<?php echo $product['quickview']; ?>" data-toggle="tooltip" title="<?php echo $t1o_text_quickview[$lang_id]; ?>"><i class="fa fa-search"></i></a>
                  <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" class="btn btn-default list-wishlist"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');" class="btn btn-default list-compare"><i class="fa fa-retweet"></i></button>
                </div>
              </div>
                            
            </div>
          </div>
        </div>
        <?php } ?>
      </div>
      </div>

<?php if($t1o_product_related_style ==1) { ?>
<script type="text/javascript"><!--
$('.product-items-related').owlCarousel({
	items: <?php echo $t1o_related_per_row; ?>,
	singleItem: false,
	scrollPerPage: true,
	pagination: false,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>']
});
--></script>
<?php } ?>

      </div>
      <?php } ?>
      <?php } ?>
      <!-- ------------ -->
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div> 
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			
			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
						
						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}
				
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
				
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}
			
			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success"><i class="fa fa-check"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				
				setTimeout(function() {
				    $('.alert').delay(500).fadeOut(1000);
				}, 5000);
						
				$('#cart-total').html(json['total']);
				/*
				$('html, body').animate({ scrollTop: 0 }, 'slow');
				*/
				
				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;
	
	$('#form-upload').remove();
	
	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
	
	$('#form-upload input[name=\'file\']').trigger('click');
	
	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}
	
	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);
			
			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();
					
					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}
					
					if (json['success']) {
						alert(json['success']);
						
						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled:true
		}
	});
});
//-->
</script>
<script>
 if( window.innerWidth >= 768 && window.innerWidth <= 992){ P = 0} else { P = 80}
 if( window.innerWidth >= 768 ){
(function(){
var a = document.querySelector('#aside1'), b = null;  // если ноль заменить на число, то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом
window.addEventListener('scroll', Ascroll, false);
document.body.addEventListener('scroll', Ascroll, false);
function Ascroll() {
  if (b == null) {
    var Sa = getComputedStyle(a, ''), s = '';
    for (var i = 0; i < Sa.length; i++) {
      if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0) {
        s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
      }
    }
    b = document.createElement('div');
    b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
    a.insertBefore(b, a.firstChild);
    var l = a.childNodes.length;
    for (var i = 1; i < l; i++) {
      b.appendChild(a.childNodes[1]);
    }
    a.style.height = b.getBoundingClientRect().height + 'px';
    a.style.padding = '0 15px';
    a.style.border = '0';
  }
  var Ra = a.getBoundingClientRect(),
      R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('footer').getBoundingClientRect().top + 0);  // селектор блока, при достижении верхнего края которого нужно открепить прилипающий элемент;  Math.round() только для IE; если ноль заменить на число, то блок будет прилипать до того, как нижний край элемента дойдёт до футера
  if ((Ra.top - P) <= 0) {
    if ((Ra.top - P) <= R) {
      b.className = 'stop';
      b.style.top = - R +'px';
    } else {
      b.className = 'sticky';
      b.style.top = P + 'px';
    }
  } else {
    b.className = '';
    b.style.top = '';
  }
  window.addEventListener('resize', function() {
    a.children[0].style.width = getComputedStyle(a, '').width
  }, false);
}
 })()}
</script>
<style>
.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}
</style>



<?php echo $footer; ?>
